<div id="brands" style="display:none;">
    
    <select name="model_audi" style="display:none;" class="Audi featurebox_select modele-select">
        <option value="">Modèle</option>
        <option value="100">100</option>
        <option value="80">80</option>
        <option value="90">90</option>
        <option value="A1">A1</option>
        <option value="A2">A2</option>
        <option value="A3">A3</option>
        <option value="A4">A4</option>
        <option value="A5">A5</option>
        <option value="A6">A6</option>
        <option value="A7">A7</option>
        <option value="A8">A8</option>
        <option value="Cabriolet">Cabriolet</option>
        <option value="Coupe">Coupe</option>
        <option value="Q3">Q3</option>
        <option value="Q5">Q5</option>
        <option value="Q7">Q7</option>
        <option value="R8">R8</option>
        <option value="Tt">Tt</option>
        <option value="V8">V8</option>
        <option value="autre">@Sough.Resource.LabelAutre</option>
    </select>
        
    <select name="model_bmw" style="display:none;" class="BMW featurebox_select modele-select">
        <option value="" selected="selected">Modèle</option>
        <option value="X1">X1</option>
        <option value="X3">X3</option>
        <option value="X4">X4</option>
        <option value="X5">X5</option>
        <option value="X6">X6</option>
        <option value="autre">@Sough.Resource.LabelAutre</option>
    </select>

    
    <select name="model_mercedes" style="display:none;" class="Mercedes featurebox_select modele-select">
        <option value="" selected="selected">Modèle</option>
        <option value="190">190</option>
        <option value="CDI">CDI</option>
        <option value="300gd">Classe G (300GD)</option>
        <option value="elegance">Elegance</option>
        <option value="autre">@Sough.Resource.LabelAutre</option>
    </select>
    
    <select name="model_nissan" class="Nissan featurebox_select modele-select" style="display:none;">
        <option value="" selected="selected">Modèle</option>
        <option value="patrol">Patrol</option>
        <option value="primera">Primera</option>
        <option value="sunny">Sunny</option>
        <option value="autre">@Sough.Resource.LabelAutre</option>
    </select>
    
    <select name="model_renault" class="Renault featurebox_select modele-select" style="display:none;">
        <option value="" selected="selected">Modèle</option>
        <option value="clio">Clio</option>
        <option value="express">Express</option>
        <option value="kangoo">Kangoo</option>
        <option value="Laguna">Laguna</option>
        <option value="megane">Megane</option>
        <option value="R4">R4</option>
        <option value="R5">R5</option>
        <option value="R9">R9</option>
        <option value="R11">R11</option>
        <option value="19">19</option>
        <option value="R21">R21</option>
        <option value="R25">R25</option>
        <option value="autre">@Sough.Resource.LabelAutre</option>
    </select>

    <select name="model_toyota" class="Toyota featurebox_select modele-select" style="display:none;">
        <option value="" selected="selected">Modèle</option>
        <option value="auris">Auris</option>
        <option value="avensis">Avensis</option>
        <option value="camry">Camry</option>
        <option value="carina">Carina</option>
        <option value="corolla">Corolla</option>
        <option value="hilux">Hilux</option>
        <option value="land-cruiser">Land Cruiser</option>
        <option value="prado">Prado</option>
        <option value="Rav4">Rav 4</option>
        <option value="v8">V8</option>
        <option value="yaris">Yaris</option>
        <option value="autre">@Sough.Resource.LabelAutre</option>
    </select>
    
</div>
<select name="car_model" disabled id="model" class="featurebox_select modele-select disabled">
    <option value="" selected="selected">Modèle</option>
</select>


<script type="text/javascript">
    
    var car_model = "";

    function getModels(id) {

        console.log("car change");

        var string = "";
        string = $("select#marque option:selected").text();


        if (string == "Audi") {
            $("#model").hide();

            if (car_model != "")
                $("#brands ." + car_model).hide();

            car_model = $("select#marque option:selected").text();

            $("#brands .Audi").show();
            $("#brands").show();
        }
        else if (string == "BMW") {
            $("#model").hide();
            
            if (car_model != "")
                $("#brands ." + car_model).hide();

            car_model = $("select#marque option:selected").text();

            $("#brands .BMW").show();
            $("#brands").show();
        }


        else if (string == "Mercedes") {
            $("#model").hide();

            if (car_model != "")
                $("#brands ." + car_model).hide();

            car_model = $("select#marque option:selected").text();

            $("#brands .Mercedes").show();
            $("#brands").show();
        }
        else if (string == "Nissan") {
            $("#model").hide();

            if (car_model != "")
                $("#brands ." + car_model).hide();

            car_model = $("select#marque option:selected").text();

            $("#brands .Nissan").show();
            $("#brands").show();
        }

        else if (string == "Renault") {
            $("#model").hide();

            if (car_model != "")
                $("#brands ." + car_model).hide();

            car_model = $("select#marque option:selected").text();

            $("#brands .Renault").show();
            $("#brands").show();
        }
        else if (string == "Toyota") {
            $("#model").hide();

            if(car_model != "")
             $("#brands ."+car_model).hide();

            car_model = $("select#marque option:selected").text();

            $("#brands .Toyota").show();
            $("#brands").show();
        }
        else {
            $("#brands").hide();
            var modeles = document.getElementsByClassName('modele-select');
            for(var i =0;i<modeles.length; i++)
                modeles[i].selectedIndex = "0";
        }

    }
</script>
