@model PagedList.IPagedList<Sough.Models.Voiture>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Voitures";
    var culture = Sough.GererLang.currentLang;
}

@Styles.Render("~/Content/ads-"+culture)
<link href="@Url.Content("~/Content/css/toujjar-theme/span-input-select-"+culture+".css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/show-products/car-ads-"+culture+".css")" rel="stylesheet" type="text/css" />
@Styles.Render("~/Content/search-main-css-"+culture)

<div id="content">
    <div class="row leftmarge">
    
        <!-- Div pour Chercher dans les produit -->
        <div class="col-xs-12 col-sm-12 col-md-10">
            <form action="/Search/Control" enctype="multipart/form-data" method="post" name="Form" id="form"
                  onsubmit="return searchBnt('Voiture');">
                <div id="searchmain" class="searchmain primary_form searchmain">


                    <input type="hidden" id="color1" name="color1" value="" />
                    <input type="hidden" id="color2" name="color2" value="" />
                    <input type="hidden" id="color3" name="color3" value="" />
                    <input type="hidden" id="color4" name="color4" value="" />
                    <input type="hidden" id="color5" name="color5" value="" />
                    <input type="hidden" id="color6" name="color6" value="" />
                    <input type="hidden" id="color7" name="color7" value="" />
                    <input type="hidden" id="color8" name="color8" value="" />

                    <input type="hidden" name="car_shape1" id="car_shape1" value="" />
                    <input type="hidden" name="car_shape2" id="car_shape2" value="" />
                    <input type="hidden" name="car_shape3" id="car_shape3" value="" />
                    <input type="hidden" name="car_shape4" id="car_shape4" value="" />
                
                    <div class="row">

                        <div class="col-md-3 col-xs-5">
                            <span id="sp-cat">
                                <select name="cat" id="cat" class="featurebox_select_extra_large">
                                    @Html.Partial("_CheckCategorieSelect")
                                </select>
                            </span>
                        </div>
                        <div class="col-md-3 col-xs-5">
                            
                            <span id="sp-ville">
                                <select id="md_ville" name="ville" class="featurebox_select_medium">
                                    @Html.Partial("_CheckVilleSelect")
                                </select>
                            </span>
                        </div>
                        <div class="col-md-3 col-xs-5">
                            <span>
                                    @Html.Partial("~/Views/Voiture/_SelectMarqueAds.cshtml")
                            </span>
                        </div>


                        <div class="col-md-3 col-xs-5">
                            <span id="sp-modele">
                                @Html.Partial("~/Views/Voiture/_SelectModels.cshtml")
                            </span>
                        </div>




                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-5">
                            <span class="price_filter">
                                <input type="number" class="price_filter" min="0" max="400000000"
                                       name="pmn" placeholder="Prix min">
                            </span>
                            
                        </div>
                        <div class="col-md-3 col-xs-5">
                            <span class="price_filter">
                                <input type="number" class="price_filter" min="0" max="400000000" name="pmx"
                                       placeholder="Prix max">
                            </span>
                            
                        </div>
                        <div class="col-md-3 col-xs-5">
                            <span>
                                <select class="featurebox_select" name="km_min" id="km-min">
                                    <option value="" selected="selected">KM min</option>
                                    <option value="0">0</option>
                                    <option value="5000">5.000</option>
                                    <option value="10000">10.000</option>
                                    <option value="15000">15.000</option>
                                    <option value="20000">20.000</option>
                                    <option value="25000">25.000</option>
                                    <option value="30000">30.000</option>
                                    <option value="35000">35.000</option>
                                    <option value="40000">40.000</option>
                                    <option value="45000">45.000</option>
                                    <option value="50000">50.000</option>
                                    <option value="55000">55.000</option>
                                    <option value="60000">60.000</option>
                                    <option value="65000">65.000</option>
                                    <option value="70000">70.000</option>

                                    <option value="70000">80.000</option>
                                    <option value="70000">90.000</option>
                                    <option value="70000">100.000</option>
                                    <option value="70000">110.000</option>
                                    <option value="70000">150.000</option>
                                </select>
                            </span>
                        </div>

                        <div class="col-md-3 col-xs-5">
                            <span>
                                    <select class="featurebox_select" id="km-max" name="km_max">
                                        <option value="" selected="selected">KM max</option>
                                        <option value="0">0</option>
                                        <option value="5000">5.000</option>
                                        <option value="10000">10.000</option>
                                        <option value="15000">15.000</option>
                                        <option value="20000">20.000</option>
                                        <option value="25000">25.000</option>
                                        <option value="30000">30.000</option>
                                        <option value="35000">35.000</option>
                                        <option value="40000">40.000</option>
                                        <option value="45000">45.000</option>
                                        <option value="50000">50.000</option>
                                        <option value="55000">55.000</option>
                                        <option value="60000">60.000</option>
                                        <option value="65000">65.000</option>
                                        <option value="70000">70.000</option>

                                        <option value="70000">80.000</option>
                                        <option value="70000">90.000</option>
                                        <option value="70000">100.000</option>
                                        <option value="70000">110.000</option>
                                        <option value="70000">150.000</option>
                                    </select>
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-top:9.8px;">
                        <div class="col-md-3 col-xs-5">
                            <span>
                                    <select name="boite" class="featurebox_select_medium">
                                        <option value="">@Sough.Resource.LabelBoiteDeVitesse</option>
                                        <option value="manuel">@Sough.Resource.manuel</option>
                                        <option value="automatique">@Sough.Resource.automatique</option>
                                    </select>
                            </span>
                        </div>
                        <div class="col-md-3 col-xs-5">
                            <span>
                                    <select name="carburant" class="featurebox_select_medium">
                                        <option value="">@Sough.Resource.LabelCarburant</option>
                                        <option value="essance">@Sough.Resource.essance</option>
                                        <option value="gasoile">@Sough.Resource.gasoile</option>
                                    </select>
                            </span>
                        </div>
                        <div class="col-md-3 col-xs-5">
                            <div class="lbl">
                                <input name="neuf" id="md_neuf" type="checkbox" value="Neuf">
                                @Sough.Resource.Neuf_fem
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-5">
                            <div class="lbl">
                                <input name="occ" id="md_occ" type="checkbox" value="Occasion">
                                @Sough.Resource.Occasion_fem
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:9.8px;">
                        <div class="col-md-12">

                            <div>

                                <ul class="car_shapes">
                                    <li id="md_cs_1" class="car_shape_2 car_shape_box_black" onclick="toggleCarShape(1, 'SUV');">
                                        <div class="ic-1-b" id="md_vic1"></div>
                                        <label for="label" title="grands voiture 4x4">SUV</label>
                                    </li>
                                    <li id="md_cs_2" class="car_shape_3 car_shape_box_black" onclick="toggleCarShape(2, 'Berline');">
                                        <div class="ic-2-b" id="md_vic2"></div>
                                        <label title="Voiture berline , exemple: toyota avensis , mercedess 190" for="label">Berline</label>
                                    </li>
                                    <li id="md_cs_3" class="car_shape_4 car_shape_box_black" onclick="toggleCarShape(3, 'Pickup');">
                                        <div class="ic-3-b" id="md_vic3"></div>
                                        <label for="car_shape" title="voiture 4x4 avec bassin, exemple : toyota hilux">Pickup</label>
                                    </li>
                                    <li id="md_cs_4" class="car_shape_5 car_shape_box_black" onclick="toggleCarShape(4, 'Break');">
                                        <div class="ic-4-b" id="md_vic4"></div>
                                        <label for="car_shape" title="voiture break">Break</label>
                                    </li>

                                </ul>
                                <ul class="car_colors" id="colors-list">

                                    <li id="md_grey" onclick="toggleCarColor('grey', 2);" class="">
                                        <div>  </div>
                                    </li>
                                    <li id="md_white" onclick="toggleCarColor('white', 1);" class="">
                                        <div>
                                        </div>
                                    </li>
                                    <li id="md_brown" onclick="toggleCarColor('brown', 3);" class="">
                                        <div>
                                        </div>
                                    </li>
                                    <li id="md_black" onclick="toggleCarColor('black', 4);" class="">
                                        <div>
                                        </div>
                                    </li>
                                    <li id="md_red" onclick="toggleCarColor('red', 5);" class="">
                                        <div>
                                        </div>
                                    </li>
                                    <li id="md_yellow" onclick="toggleCarColor('yellow', 6);" class="">
                                        <div>
                                        </div>
                                    </li>
                                    <li id="md_green" onclick="toggleCarColor('green', 7);" class="">
                                        <div>
                                        </div>
                                    </li>
                                    <li id="md_blue" onclick="toggleCarColor('blue', 8);" class="">
                                        <div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding:0px;">
                        <div class="col-md-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-3">
                                <button class="btn Btn3" id="btn-md" type="submit">
                                    Chercher <i class="@Sough.App_Code.Ticons.search"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div><!-- end div search -->

            </form>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <!-- categorie icon -->

            </div>

        </div>

    


    </div><!-- End row header body -->
    <div class="row" id="loading" style="display: none;">
        <div class="col-md-8 col-sm-12 text-center">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row row-z">
    </div> <!-- espace -->

    @* Voitures List *@
    <div id="List">
        
        @Html.Partial("~/Views/Voiture/_CarsList.cshtml", Model)
    </div>

</div>@* End div corps *@

@section Scripts {
    
    @Scripts.Render("~/bundles/ads")
    <script type="text/javascript" src="~/Scripts/show/car-ads.js"></script>

}