@model PagedList.IPagedList<Sough.Models.Voiture>
@using PagedList.Mvc;

@{
    Sough.Helpers.Tdate tdate = new Sough.Helpers.Tdate();
    Sough.Helpers.TraitementDonnees tdonnee = new Sough.Helpers.TraitementDonnees();
    Sough.Models.Voiture voiture = (Sough.Models.Voiture)Model[0];

    if (voiture != null)
    {
        ViewBag.Title = voiture.marque + " " + voiture.Modele;
    }
    else
    {
        ViewBag.Title = "Unknown ti";
    }
    var culture = Sough.GererLang.currentLang;
}

@Styles.Render("~/Content/popey-"+culture)

@Styles.Render("~/Content/ads-"+culture)
@Styles.Render("~/Content/show-product-"+culture)
    
@try {
        
<div class="content" id="content">
    <div class="row">
    <!-- hidden-xs-->
    <div class="col-md-8 col-sm-12 ad-bg">

        <!-- div image-->
        <div class="col-md-6 col-sm-6">
            <div class="col-md-12 col-sm-12 row-img">
                <div class="ppy" id="ppy1">
                    <!-- style="float:right;"-->
                    <ul class="ppy-imglist" id="ppy-imglist" style="visibility:hidden;">
                        <li>
                            <a href="@Url.Action("GetAdImageByName", "Voiture",
                            routeValues: new { id = voiture.Id,n=1 })">
                                <img src="@Url.Action("GetAdImageByName", "Voiture",
                                     routeValues: new { id = voiture.Id,n=1 })"
                                     alt="..." />
                            </a>
                            <span class="ppy-extcaption">
                            </span>
                        </li>
                        <li style="display:none;">
                            <a href="@Url.Action("GetAdImageByName", "Voiture",
                             routeValues: new { id = voiture.Id,n=2 })">
                                <img src="@Url.Action("GetAdImageByName", "Voiture",
                                routeValues: new { id = voiture.Id,n=2 })"
                                     alt="..." hidden />
                            </a>
                            <span class="ppy-extcaption">
                            </span>
                        </li>
                        <li style="display:none;">
                            <a href="@Url.Action("GetAdImageByName", "Voiture",
                                    routeValues: new { id = voiture.Id,n=3 })">
                                <img src="@Url.Action("GetAdImageByName", "Voiture",
                                    routeValues: new { id = voiture.Id,n=3 })"
                                     alt="..." hidden />
                            </a>
                            <span class="ppy-extcaption">
                            </span>
                        </li>
                        <li style="display:none;">
                            <a href="@Url.Action("GetAdImageByName", "Voiture",
                                routeValues: new { id = voiture.Id,n=4 })">
                                <img src="@Url.Action("GetAdImageByName", "Voiture",
                                    routeValues: new { id = voiture.Id,n=4 })"
                                     alt="..." hidden />
                            </a>
                            <span class="ppy-extcaption">
                            </span>
                        </li>


                    </ul>
                    <div class="ppy-outer">
                        <div class="ppy-stage">
                            <div class="ppy-nav">
                                <a class="ppy-prev" title="Previous image">Previous image</a>
                                <a class="ppy-switch-enlarge" title="Enlarge">Enlarge</a>
                                <a class="ppy-switch-compact" title="Close">Close</a>
                                <a class="ppy-next" title="Next image">Next image</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="col-md-12 col-sm-">
                <div class="trader-data">
                    <img class="whatsappPNG icon22" />
                    <p><abbr title="Téléphone">Tel:</abbr>@voiture.phone</p>
                </div>
            </div>
            @if (tdonnee.StringIsValid(voiture.trader_name))
            {
                <div class="col-md-12 col-sm-12">
                    <div class="trader-data">
                        <p title="nom du commerçant">Nom : @voiture.trader_name</p>
                    </div>
                </div>
            }
            @if (tdonnee.StringIsValid(voiture.trader_facebook))
            {
                <div class="col-md-12 col-sm-12">
                    <div class="trader-data">
                        <img class="facebook32 icon22" /><abbr title="Facebook du commerçant">@voiture.trader_facebook</abbr>
                    </div>
                </div>
            }
            @if (tdonnee.StringIsValid(voiture.trader_instagram))
            {
                <div class="col-md-12 col-sm-12">
                    <div class="trader-data">
                        <img class="instagram32 icon22" /><abbr title="Instagram du commerçant">@voiture.trader_instagram</abbr>
                    </div>
                </div>
            }
            @if (tdonnee.StringIsValid(voiture.email))
            {
                <div class="col-md-12 col-sm-12">
                    <div class="trader-data">
                        <abbr title="email du commerçant">@@email:</abbr>@voiture.email<br />
                    </div>
                </div>
            }

        </div><!--  end div image-->
        <!--  div product informations-->
        <div class="col-md-6 col-sm-6">

            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><p>Marque :</p></td>
                        <td><p>@voiture.marque</p></td>
                    </tr>
                    <tr>
                        <td><p>Modele :</p></td>
                        <td><p>@voiture.Modele</p></td>
                    </tr>
                    <tr>
                        <td><p>kilometrage :</p></td>
                        <td><p>@tdonnee.FormaterPrix(voiture.kilometrage) <i>km</i></p></td>
                    </tr>
                    <tr>
                        <td><p>Carburant :</p></td>
                        <td><p>@voiture.carburant</p></td>
                    </tr>
                    <tr>
                        <td><p>Boite :</p></td>
                        <td><p>@voiture.BoiteDeVitesse</p></td>
                    </tr>
                    <tr>
                        <td><i class="@Sough.App_Code.Ticons.map_marker">Ville :</i></td>
                        <td><p>@voiture.ville</p></td>
                    </tr>
                    <tr>
                        <td><p>type :</p></td>
                        <td><p>@voiture.car_shape</p></td>
                    </tr>
                    <tr>
                        <td><p>Date :</p></td>
                        <td><p>@tdate.FormaterDate(voiture.temps, culture)</p></td>
                    </tr>

                </tbody>
            </table>
            <div class="text-center">
                <h3 id="txt-h3" class="text-success">@tdonnee.FormaterPrix(voiture.prix) Mro</h3>
            </div>
        </div><!--  end div product informations-->


    </div>

    <div class="col-md-2 hidden-sm hidden-xs"></div>
    <div class="col-md-2">
        <div class="panel panel-tjj" style="visibility:hidden">
            <div class="panel-heading"> لديك تجارة هنا؟ </div>
            <ul class="nav nav-staked">
                <li>
                    <a href="~/Voiture/PutPass?k=@voiture.Id&op=edit" onmouseover="stylePanel(this, 'over')" onmouseout="stylePanel(this, 'out')">
                        <i class="@Sough.App_Code.Ticons.pencil" aria-hidden="true"></i>
                        تعديل بيانات
                    </a>
                </li>
                <li>
                    <a href="~/Voiture/PutPass?k=@voiture.Id&op=del" onmouseover="stylePanel(this, 'over')" onmouseout="stylePanel(this, 'out')">
                        <i class="@Sough.App_Code.Ticons.remove" aria-hidden="true"></i>
                        حذف المباعة
                    </a>
                </li>
            </ul>
        </div>
    
        <div class="panel panel-tjj">
            <div class="panel-heading"> إدارة تجارتك </div>
            <ul class="nav nav-staked">
                <li>
                    <a href="~/Voiture/PutPass?k=@voiture.Id&op=edit" onmouseover="stylePanel(this, 'over')" onmouseout="stylePanel(this, 'out')">
                        <i class="@Sough.App_Code.Ticons.pencil" aria-hidden="true"></i>
                        تعديل معلومات
                    </a>
                </li>
                <li>
                    <a href="~/Voiture/PutPass?k=@voiture.Id&op=del" onmouseover="stylePanel(this, 'over')" onmouseout="stylePanel(this, 'out')">
                        <i class="@Sough.App_Code.Ticons.remove" aria-hidden="true"></i>
                        تريد حذفها ؟
                    </a>
                </li>
                
            </ul>
        </div>

    </div>

</div>


</div>

    <div class="row" id="loading" style="display: block;">
        <div class="col-md-8 col-sm-12 text-center">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    
    <div id="List">
            @Html.Partial("~/Views/Voiture/_UserWare.cshtml", Model)
    </div>

}
catch (Exception e)
{
    <p>@e.Message</p>
}

@section Scripts {
<script type="text/javascript">
    document.getElementById('ppy-imglist').style.visibility = "visible";
</script>

@Scripts.Render("~/bundles/popey-"+culture)
@Scripts.Render("~/bundles/ads")
}
