@{
    ViewBag.Title = "Index Ar";
    string culture = Sough.GererLang.currentLang;    
}


@section Styles{


    <link href="@Url.Content("~/Content/css/index/figure.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/index/index-ar.css")" rel="stylesheet" type="text/css" />
    
    <link href="@Url.Content("~/Content/css/toujjar-theme/span-input-select-"+culture+".css")" rel="stylesheet" type="text/css" />
    
}
@section Scripts {

    <!--Fireworks CS6 Dreamweaver CS6 target.  Created Sat Mar 11 19:59:48 GMT+0000 (GMT) 2017-->
    <script language="JavaScript1.2" type="text/javascript">

        function MM_findObj(n, d) { //v4.01
            var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
            }
            if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
            for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
            if (!x && d.getElementById) x = d.getElementById(n); return x;
        }

        function MM_swapImage1() { //v3.0
            var i, j = 0, x, a = MM_swapImage1.arguments; document.MM_sr = new Array;
            for (i = 0; i < (a.length - 2) ; i += 3) {
                if (i == 0) document.getElementById(a[i]).style.color = "#f50";
                if ((x = MM_findObj(a[i])) != null) {
                    document.MM_sr[j++] = x;
                    if (!x.oSrc) {
                        x.oSrc = x.src;
                    }
                    x.src = a[i + 2];
                }
            }
        }
        function MM_swapImage2() { //v3.0
            var i, j = 0, x, a = MM_swapImage2.arguments; document.MM_sr = new Array;
            for (i = 0; i < (a.length - 2) ; i += 3) {
                if (i == 0) document.getElementById(a[i]).style.color = "#308fe4";
                if ((x = MM_findObj(a[i])) != null) {
                    document.MM_sr[j++] = x;
                    if (!x.oSrc) {
                        x.oSrc = x.src;
                    }
                    x.src = a[i + 2];
                }
            }
        }


        function MM_preloadImages() { //v3.0
            var d = document; if (d.images) {
                if (!d.MM_p) d.MM_p = new Array();
                var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
                    if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
            }
        }


        window.onload = function () {
            MM_preloadImages('~/Content/icons/map/rim_r2_c13_s4.jpg', '~/Content/icons/map/rim_r3_c13_s4.jpg', '~/Content/icons/map/rim_r3_c25_s4.jpg', '~/Content/icons/map/rim_r4_c13_s4.jpg', '~/Content/icons/map/rim_r4_c22_s4.jpg', '~/Content/icons/map/rim_r4_c25_s4.jpg', '~/Content/icons/map/rim_r4_c26_s4.jpg', '~/Content/icons/map/rim_r2_c13.jpg', '~/Content/icons/map/rim_r3_c13.jpg', '~/Content/icons/map/rim_r3_c25.jpg', '~/Content/icons/map/rim_r4_c13.jpg', '~/Content/icons/map/rim_r4_c22.jpg', '~/Content/icons/map/rim_r4_c25.jpg', '~/Content/icons/map/rim_r4_c26.jpg', '~/Content/icons/map/rim_r3_c9_s4.jpg', '~/Content/icons/map/rim_r3_c13_s6.jpg', '~/Content/icons/map/rim_r4_c13_s6.jpg', '~/Content/icons/map/rim_r4_c22_s8.jpg', '~/Content/icons/map/rim_r5_c9_s6.jpg', '~/Content/icons/map/rim_r5_c10_s4.jpg', '~/Content/icons/map/rim_r6_c13_s4.jpg', '~/Content/icons/map/rim_r6_c22_s6.jpg', '~/Content/icons/map/rim_r7_c9_s8.jpg', '~/Content/icons/map/rim_r7_c10_s6.jpg', '~/Content/icons/map/rim_r7_c11_s4.jpg', '~/Content/icons/map/rim_r9_c13_s4.jpg', '~/Content/icons/map/rim_r9_c16_s6.jpg', '~/Content/icons/map/rim_r9_c22_s8.jpg', '~/Content/icons/map/rim_r9_c24_s6.jpg', '~/Content/icons/map/rim_r10_c9_s6.jpg', '~/Content/icons/map/rim_r12_c9_s4.jpg', '~/Content/icons/map/rim_r13_c9_s6.jpg', '~/Content/icons/map/rim_r13_c14_s4.jpg', '~/Content/icons/map/rim_r3_c9.jpg', '~/Content/icons/map/rim_r5_c9.jpg', '~/Content/icons/map/rim_r5_c10.jpg', '~/Content/icons/map/rim_r6_c13.jpg', '~/Content/icons/map/rim_r6_c22.jpg', '~/Content/icons/map/rim_r7_c9.jpg', '~/Content/icons/map/rim_r7_c10.jpg', '~/Content/icons/map/rim_r7_c11.jpg', '~/Content/icons/map/rim_r9_c13.jpg', '~/Content/icons/map/rim_r9_c16.jpg', '~/Content/icons/map/rim_r9_c22.jpg', '~/Content/icons/map/rim_r9_c24.jpg', '~/Content/icons/map/rim_r10_c9.jpg', '~/Content/icons/map/rim_r12_c9.jpg', '~/Content/icons/map/rim_r13_c9.jpg', '~/Content/icons/map/rim_r13_c14.jpg', '~/Content/icons/map/rim_r4_c22_s6.jpg', '~/Content/icons/map/rim_r4_c25_s6.jpg', '~/Content/icons/map/rim_r6_c22_s4.jpg', '~/Content/icons/map/rim_r6_c25_s4.jpg', '~/Content/icons/map/rim_r9_c22_s6.jpg', '~/Content/icons/map/rim_r9_c24_s4.jpg', '~/Content/icons/map/rim_r15_c22_s6.jpg', '~/Content/icons/map/rim_r15_c24_s4.jpg', '~/Content/icons/map/rim_r19_c22_s8.jpg', '~/Content/icons/map/rim_r19_c23_s6.jpg', '~/Content/icons/map/rim_r20_c22_s6.jpg', '~/Content/icons/map/rim_r20_c23_s4.jpg', '~/Content/icons/map/rim_r6_c25.jpg', '~/Content/icons/map/rim_r15_c22.jpg', '~/Content/icons/map/rim_r15_c24.jpg', '~/Content/icons/map/rim_r19_c22.jpg', '~/Content/icons/map/rim_r19_c23.jpg', '~/Content/icons/map/rim_r20_c22.jpg', '~/Content/icons/map/rim_r20_c23.jpg', '~/Content/icons/map/rim_r5_c3_s4.jpg', '~/Content/icons/map/rim_r5_c9_s4.jpg', '~/Content/icons/map/rim_r7_c3_s4.jpg', '~/Content/icons/map/rim_r7_c5_s6.jpg', '~/Content/icons/map/rim_r7_c9_s6.jpg', '~/Content/icons/map/rim_r5_c3.jpg', '~/Content/icons/map/rim_r7_c3.jpg', '~/Content/icons/map/rim_r7_c5.jpg', '~/Content/icons/map/rim_r7_c5_s4.jpg', '~/Content/icons/map/rim_r7_c9_s4.jpg', '~/Content/icons/map/rim_r7_c10_s4.jpg', '~/Content/icons/map/rim_r10_c5_s4.jpg', '~/Content/icons/map/rim_r10_c9_s4.jpg', '~/Content/icons/map/rim_r10_c5.jpg', '~/Content/icons/map/rim_r9_c16_s4.jpg', '~/Content/icons/map/rim_r9_c22_s4.jpg', '~/Content/icons/map/rim_r15_c16_s4.jpg', '~/Content/icons/map/rim_r15_c22_s4.jpg', '~/Content/icons/map/rim_r16_c16_s4.jpg', '~/Content/icons/map/rim_r16_c17_s4.jpg', '~/Content/icons/map/rim_r17_c16_s4.jpg', '~/Content/icons/map/rim_r17_c17_s4.jpg', '~/Content/icons/map/rim_r17_c21_s4.jpg', '~/Content/icons/map/rim_r19_c17_s4.jpg', '~/Content/icons/map/rim_r19_c20_s4.jpg', '~/Content/icons/map/rim_r19_c21_s4.jpg', '~/Content/icons/map/rim_r19_c22_s4.jpg', '~/Content/icons/map/rim_r19_c23_s4.jpg', '~/Content/icons/map/rim_r15_c16.jpg', '~/Content/icons/map/rim_r16_c16.jpg', '~/Content/icons/map/rim_r16_c17.jpg', '~/Content/icons/map/rim_r17_c16.jpg', '~/Content/icons/map/rim_r17_c17.jpg', '~/Content/icons/map/rim_r17_c21.jpg', '~/Content/icons/map/rim_r19_c17.jpg', '~/Content/icons/map/rim_r19_c20.jpg', '~/Content/icons/map/rim_r19_c21.jpg', '~/Content/icons/map/rim_r13_c4_s4.jpg', '~/Content/icons/map/rim_r13_c9_s4.jpg', '~/Content/icons/map/rim_r14_c4_s4.jpg', '~/Content/icons/map/rim_r14_c7_s4.jpg', '~/Content/icons/map/rim_r15_c9_s4.jpg', '~/Content/icons/map/rim_r16_c7_s4.jpg', '~/Content/icons/map/rim_r16_c8_s4.jpg', '~/Content/icons/map/rim_r18_c4_s4.jpg', '~/Content/icons/map/rim_r21_c8_s4.jpg', '~/Content/icons/map/rim_r21_c12_s4.jpg', '~/Content/icons/map/rim_r13_c4.jpg', '~/Content/icons/map/rim_r14_c4.jpg', '~/Content/icons/map/rim_r14_c7.jpg', '~/Content/icons/map/rim_r15_c9.jpg', '~/Content/icons/map/rim_r16_c7.jpg', '~/Content/icons/map/rim_r16_c8.jpg', '~/Content/icons/map/rim_r18_c4.jpg', '~/Content/icons/map/rim_r21_c8.jpg', '~/Content/icons/map/rim_r21_c12.jpg', '~/Content/icons/map/rim_r14_c2_s4.jpg', '~/Content/icons/map/rim_r14_c4_s6.jpg', '~/Content/icons/map/rim_r14_c2.jpg', '~/Content/icons/map/rim_r16_c8_s6.jpg', '~/Content/icons/map/rim_r16_c14_s4.jpg', '~/Content/icons/map/rim_r16_c16_s6.jpg', '~/Content/icons/map/rim_r17_c14_s4.jpg', '~/Content/icons/map/rim_r17_c16_s6.jpg', '~/Content/icons/map/rim_r20_c16_s4.jpg', '~/Content/icons/map/rim_r21_c8_s6.jpg', '~/Content/icons/map/rim_r21_c12_s8.jpg', '~/Content/icons/map/rim_r21_c14_s6.jpg', '~/Content/icons/map/rim_r22_c8_s4.jpg', '~/Content/icons/map/rim_r22_c12_s6.jpg', '~/Content/icons/map/rim_r16_c14.jpg', '~/Content/icons/map/rim_r17_c14.jpg', '~/Content/icons/map/rim_r20_c16.jpg', '~/Content/icons/map/rim_r21_c14.jpg', '~/Content/icons/map/rim_r22_c8.jpg', '~/Content/icons/map/rim_r22_c12.jpg', '~/Content/icons/map/rim_r17_c14_s6.jpg', '~/Content/icons/map/rim_r17_c16_s8.jpg', '~/Content/icons/map/rim_r17_c17_s6.jpg', '~/Content/icons/map/rim_r19_c17_s6.jpg', '~/Content/icons/map/rim_r19_c20_s8.jpg', '~/Content/icons/map/rim_r20_c16_s6.jpg', '~/Content/icons/map/rim_r20_c17_s4.jpg', '~/Content/icons/map/rim_r20_c20_s6.jpg', '~/Content/icons/map/rim_r21_c14_s8.jpg', '~/Content/icons/map/rim_r21_c17_s6.jpg', '~/Content/icons/map/rim_r21_c18_s4.jpg', '~/Content/icons/map/rim_r23_c14_s6.jpg', '~/Content/icons/map/rim_r24_c14_s6.jpg', '~/Content/icons/map/rim_r24_c15_s8.jpg', '~/Content/icons/map/rim_r24_c18_s6.jpg', '~/Content/icons/map/rim_r24_c19_s4.jpg', '~/Content/icons/map/rim_r26_c20_s4.jpg', '~/Content/icons/map/rim_r27_c14_s4.jpg', '~/Content/icons/map/rim_r27_c15_s6.jpg', '~/Content/icons/map/rim_r20_c17.jpg', '~/Content/icons/map/rim_r20_c20.jpg', '~/Content/icons/map/rim_r21_c17.jpg', '~/Content/icons/map/rim_r21_c18.jpg', '~/Content/icons/map/rim_r23_c14.jpg', '~/Content/icons/map/rim_r24_c14.jpg', '~/Content/icons/map/rim_r24_c15.jpg', '~/Content/icons/map/rim_r24_c18.jpg', '~/Content/icons/map/rim_r24_c19.jpg', '~/Content/icons/map/rim_r26_c20.jpg', '~/Content/icons/map/rim_r27_c14.jpg', '~/Content/icons/map/rim_r27_c15.jpg', '~/Content/icons/map/rim_r19_c20_s6.jpg', '~/Content/icons/map/rim_r19_c21_s6.jpg', '~/Content/icons/map/rim_r19_c22_s6.jpg', '~/Content/icons/map/rim_r20_c20_s4.jpg', '~/Content/icons/map/rim_r20_c21_s4.jpg', '~/Content/icons/map/rim_r20_c22_s4.jpg', '~/Content/icons/map/rim_r25_c22_s4.jpg', '~/Content/icons/map/rim_r20_c21.jpg', '~/Content/icons/map/rim_r25_c22.jpg', '~/Content/icons/map/rim_r21_c12_s6.jpg', '~/Content/icons/map/rim_r21_c14_s4.jpg', '~/Content/icons/map/rim_r21_c17_s4.jpg', '~/Content/icons/map/rim_r22_c12_s4.jpg', '~/Content/icons/map/rim_r23_c12_s4.jpg', '~/Content/icons/map/rim_r23_c14_s4.jpg', '~/Content/icons/map/rim_r24_c14_s4.jpg', '~/Content/icons/map/rim_r24_c15_s6.jpg', '~/Content/icons/map/rim_r23_c12.jpg', '~/Content/icons/map/rim_r24_c15_s4.jpg', '~/Content/icons/map/rim_r24_c18_s4.jpg', '~/Content/icons/map/rim_r27_c15_s4.jpg', '~/Content/icons/map/rim_r28_c15_s4.jpg', '~/Content/icons/map/rim_r28_c15.jpg');
        }
    </script>
    @Scripts.Render("~/bundles/jq-caresoul")
    @Scripts.Render("~/bundles/select-options")
}


<div class="content">

    <div class="row">

        <div class="col-xs-12 col-sm-3 col-md-3 col-md-pull-0 col-sm-pull-0 div-cat">
            <ul>
                <li>
                    <a id="rim_r14_c2" href="~/Ad/GetWaresFC?r=Nouakchott&f=1" onmouseout="MM_swapImage2('rim_r14_c2','','/Content/icons/map/rim_r14_c2.jpg','rim_r14_c4','','/Content/icons/map/rim_r14_c4.jpg',1);" onmouseover="MM_swapImage1('rim_r14_c2','','/Content/icons/map/rim_r14_c2_s4.jpg','rim_r14_c4','','/Content/icons/map/rim_r14_c4_s6.jpg',1);">Nouakchott </a>
                </li>
                <li>
                    <a id="rim_r3_c9" href="~/Ad/GetWaresFC?r=adrar&f=1" onmouseout="MM_swapImage2('rim_r3_c9','','/Content/icons/map/rim_r3_c9.jpg','rim_r3_c13','','/Content/icons/map/rim_r3_c13.jpg','rim_r4_c13','','/Content/icons/map/rim_r4_c13.jpg','rim_r4_c22','','/Content/icons/map/rim_r4_c22.jpg','rim_r5_c9','','/Content/icons/map/rim_r5_c9.jpg','rim_r5_c10','','/Content/icons/map/rim_r5_c10.jpg','rim_r6_c13','','/Content/icons/map/rim_r6_c13.jpg','rim_r6_c22','','/Content/icons/map/rim_r6_c22.jpg','rim_r7_c9','','/Content/icons/map/rim_r7_c9.jpg','rim_r7_c10','','/Content/icons/map/rim_r7_c10.jpg','rim_r7_c11','','/Content/icons/map/rim_r7_c11.jpg','rim_r9_c13','','/Content/icons/map/rim_r9_c13.jpg','rim_r9_c16','','/Content/icons/map/rim_r9_c16.jpg','rim_r9_c22','','/Content/icons/map/rim_r9_c22.jpg','rim_r9_c24','','/Content/icons/map/rim_r9_c24.jpg','rim_r10_c9','','/Content/icons/map/rim_r10_c9.jpg','rim_r12_c9','','/Content/icons/map/rim_r12_c9.jpg','rim_r13_c9','','/Content/icons/map/rim_r13_c9.jpg','rim_r13_c14','','/Content/icons/map/rim_r13_c14.jpg',1);" onmouseover="MM_swapImage1('rim_r3_c9','','/Content/icons/map/rim_r3_c9_s4.jpg','rim_r3_c13','','/Content/icons/map/rim_r3_c13_s6.jpg','rim_r4_c13','','/Content/icons/map/rim_r4_c13_s6.jpg','rim_r4_c22','','/Content/icons/map/rim_r4_c22_s8.jpg','rim_r5_c9','','/Content/icons/map/rim_r5_c9_s6.jpg','rim_r5_c10','','/Content/icons/map/rim_r5_c10_s4.jpg','rim_r6_c13','','/Content/icons/map/rim_r6_c13_s4.jpg','rim_r6_c22','','/Content/icons/map/rim_r6_c22_s6.jpg','rim_r7_c9','','/Content/icons/map/rim_r7_c9_s8.jpg','rim_r7_c10','','/Content/icons/map/rim_r7_c10_s6.jpg','rim_r7_c11','','/Content/icons/map/rim_r7_c11_s4.jpg','rim_r9_c13','','/Content/icons/map/rim_r9_c13_s4.jpg','rim_r9_c16','','/Content/icons/map/rim_r9_c16_s6.jpg','rim_r9_c22','','/Content/icons/map/rim_r9_c22_s8.jpg','rim_r9_c24','','/Content/icons/map/rim_r9_c24_s6.jpg','rim_r10_c9','','/Content/icons/map/rim_r10_c9_s6.jpg','rim_r12_c9','','/Content/icons/map/rim_r12_c9_s4.jpg','rim_r13_c9','','/Content/icons/map/rim_r13_c9_s6.jpg','rim_r13_c14','','/Content/icons/map/rim_r13_c14_s4.jpg',1);">Adrar</a>
                </li>
                <li>
                    <a id="rim_r17_c14" href="~/Ad/GetWaresFC?r=assaba&f=1" onmouseout="MM_swapImage2('rim_r17_c14','','/Content/icons/map/rim_r17_c14.jpg','rim_r17_c16','','/Content/icons/map/rim_r17_c16.jpg','rim_r17_c17','','/Content/icons/map/rim_r17_c17.jpg','rim_r19_c17','','/Content/icons/map/rim_r19_c17.jpg','rim_r19_c20','','/Content/icons/map/rim_r19_c20.jpg','rim_r20_c16','','/Content/icons/map/rim_r20_c16.jpg','rim_r20_c17','','/Content/icons/map/rim_r20_c17.jpg','rim_r20_c20','','/Content/icons/map/rim_r20_c20.jpg','rim_r21_c14','','/Content/icons/map/rim_r21_c14.jpg','rim_r21_c17','','/Content/icons/map/rim_r21_c17.jpg','rim_r21_c18','','/Content/icons/map/rim_r21_c18.jpg','rim_r23_c14','','/Content/icons/map/rim_r23_c14.jpg','rim_r24_c14','','/Content/icons/map/rim_r24_c14.jpg','rim_r24_c15','','/Content/icons/map/rim_r24_c15.jpg','rim_r24_c18','','/Content/icons/map/rim_r24_c18.jpg','rim_r24_c19','','/Content/icons/map/rim_r24_c19.jpg','rim_r26_c20','','/Content/icons/map/rim_r26_c20.jpg','rim_r27_c14','','/Content/icons/map/rim_r27_c14.jpg','rim_r27_c15','','/Content/icons/map/rim_r27_c15.jpg',1);" onmouseover="MM_swapImage1('rim_r17_c14','','/Content/icons/map/rim_r17_c14_s6.jpg','rim_r17_c16','','/Content/icons/map/rim_r17_c16_s8.jpg','rim_r17_c17','','/Content/icons/map/rim_r17_c17_s6.jpg','rim_r19_c17','','/Content/icons/map/rim_r19_c17_s6.jpg','rim_r19_c20','','/Content/icons/map/rim_r19_c20_s8.jpg','rim_r20_c16','','/Content/icons/map/rim_r20_c16_s6.jpg','rim_r20_c17','','/Content/icons/map/rim_r20_c17_s4.jpg','rim_r20_c20','','/Content/icons/map/rim_r20_c20_s6.jpg','rim_r21_c14','','/Content/icons/map/rim_r21_c14_s8.jpg','rim_r21_c17','','/Content/icons/map/rim_r21_c17_s6.jpg','rim_r21_c18','','/Content/icons/map/rim_r21_c18_s4.jpg','rim_r23_c14','','/Content/icons/map/rim_r23_c14_s6.jpg','rim_r24_c14','','/Content/icons/map/rim_r24_c14_s6.jpg','rim_r24_c15','','/Content/icons/map/rim_r24_c15_s8.jpg','rim_r24_c18','','/Content/icons/map/rim_r24_c18_s6.jpg','rim_r24_c19','','/Content/icons/map/rim_r24_c19_s4.jpg','rim_r26_c20','','/Content/icons/map/rim_r26_c20_s4.jpg','rim_r27_c14','','/Content/icons/map/rim_r27_c14_s4.jpg','rim_r27_c15','','/Content/icons/map/rim_r27_c15_s6.jpg',1);">Assaba</a>
                </li>
                <li>
                    <a id="rim_r16_c8" href="~/Ad/GetWaresFC?r=brakna&f=1" onmouseout="MM_swapImage2('rim_r16_c8','','/Content/icons/map/rim_r16_c8.jpg','rim_r16_c14','','/Content/icons/map/rim_r16_c14.jpg','rim_r16_c16','','/Content/icons/map/rim_r16_c16.jpg','rim_r17_c14','','/Content/icons/map/rim_r17_c14.jpg','rim_r17_c16','','/Content/icons/map/rim_r17_c16.jpg','rim_r20_c16','','/Content/icons/map/rim_r20_c16.jpg','rim_r21_c8','','/Content/icons/map/rim_r21_c8.jpg','rim_r21_c12','','/Content/icons/map/rim_r21_c12.jpg','rim_r21_c14','','/Content/icons/map/rim_r21_c14.jpg','rim_r22_c8','','/Content/icons/map/rim_r22_c8.jpg','rim_r22_c12','','/Content/icons/map/rim_r22_c12.jpg',1);" onmouseover="MM_swapImage1('rim_r16_c8','','/Content/icons/map/rim_r16_c8_s6.jpg','rim_r16_c14','','/Content/icons/map/rim_r16_c14_s4.jpg','rim_r16_c16','','/Content/icons/map/rim_r16_c16_s6.jpg','rim_r17_c14','','/Content/icons/map/rim_r17_c14_s4.jpg','rim_r17_c16','','/Content/icons/map/rim_r17_c16_s6.jpg','rim_r20_c16','','/Content/icons/map/rim_r20_c16_s4.jpg','rim_r21_c8','','/Content/icons/map/rim_r21_c8_s6.jpg','rim_r21_c12','','/Content/icons/map/rim_r21_c12_s8.jpg','rim_r21_c14','','/Content/icons/map/rim_r21_c14_s6.jpg','rim_r22_c8','','/Content/icons/map/rim_r22_c8_s4.jpg','rim_r22_c12','','/Content/icons/map/rim_r22_c12_s6.jpg',1);">Brakna</a>
                </li>
                <li>
                    <a id="rim_r5_c3" href="~/Ad/GetWaresFC?r=dakhlet-nouadhibou&f=1" onmouseout="MM_swapImage2('rim_r5_c3','','/Content/icons/map/rim_r5_c3.jpg','rim_r5_c9','','/Content/icons/map/rim_r5_c9.jpg','rim_r7_c3','','/Content/icons/map/rim_r7_c3.jpg','rim_r7_c5','','/Content/icons/map/rim_r7_c5.jpg','rim_r7_c9','','/Content/icons/map/rim_r7_c9.jpg',1);" onmouseover="MM_swapImage1('rim_r5_c3','','/Content/icons/map/rim_r5_c3_s4.jpg','rim_r5_c9','','/Content/icons/map/rim_r5_c9_s4.jpg','rim_r7_c3','','/Content/icons/map/rim_r7_c3_s4.jpg','rim_r7_c5','','/Content/icons/map/rim_r7_c5_s6.jpg','rim_r7_c9','','/Content/icons/map/rim_r7_c9_s6.jpg',1);">Dakhlet Nouadhibou</a>
                </li>
                <li>
                    <a id="rim_r21_c12" href="~/Ad/GetWaresFC?r=gorgol&f=1" onmouseout="MM_swapImage2('rim_r21_c12','','/Content/icons/map/rim_r21_c12.jpg','rim_r21_c14','','/Content/icons/map/rim_r21_c14.jpg','rim_r21_c17','','/Content/icons/map/rim_r21_c17.jpg','rim_r22_c12','','/Content/icons/map/rim_r22_c12.jpg','rim_r23_c12','','/Content/icons/map/rim_r23_c12.jpg','rim_r23_c14','','/Content/icons/map/rim_r23_c14.jpg','rim_r24_c14','','/Content/icons/map/rim_r24_c14.jpg','rim_r24_c15','','/Content/icons/map/rim_r24_c15.jpg',1);" onmouseover="MM_swapImage1('rim_r21_c12','','/Content/icons/map/rim_r21_c12_s6.jpg','rim_r21_c14','','/Content/icons/map/rim_r21_c14_s4.jpg','rim_r21_c17','','/Content/icons/map/rim_r21_c17_s4.jpg','rim_r22_c12','','/Content/icons/map/rim_r22_c12_s4.jpg','rim_r23_c12','','/Content/icons/map/rim_r23_c12_s4.jpg','rim_r23_c14','','/Content/icons/map/rim_r23_c14_s4.jpg','rim_r24_c14','','/Content/icons/map/rim_r24_c14_s4.jpg','rim_r24_c15','','/Content/icons/map/rim_r24_c15_s6.jpg',1);">Gorogol</a>
                </li>
                <li>
                    <a id="rim_r24_c15" href="~/Ad/GetWaresFC?r=guidimaka&f=1" onmouseout="MM_swapImage2('rim_r24_c15','','/Content/icons/map/rim_r24_c15.jpg','rim_r24_c18','','/Content/icons/map/rim_r24_c18.jpg','rim_r27_c15','','/Content/icons/map/rim_r27_c15.jpg','rim_r28_c15','','/Content/icons/map/rim_r28_c15.jpg',1);" onmouseover="MM_swapImage1('rim_r24_c15','','/Content/icons/map/rim_r24_c15_s4.jpg','rim_r24_c18','','/Content/icons/map/rim_r24_c18_s4.jpg','rim_r27_c15','','/Content/icons/map/rim_r27_c15_s4.jpg','rim_r28_c15','','/Content/icons/map/rim_r28_c15_s4.jpg',1);">Guidimaka</a>
                </li>
                <li>
                    <a id="rim_r4_c22" href="~/Ad/GetWaresFC?r=hodh-chargui&f=1" onmouseout="MM_swapImage2('rim_r4_c22','','/Content/icons/map/rim_r4_c22.jpg','rim_r4_c25','','/Content/icons/map/rim_r4_c25.jpg','rim_r6_c22','','/Content/icons/map/rim_r6_c22.jpg','rim_r6_c25','','/Content/icons/map/rim_r6_c25.jpg','rim_r9_c22','','/Content/icons/map/rim_r9_c22.jpg','rim_r9_c24','','/Content/icons/map/rim_r9_c24.jpg','rim_r15_c22','','/Content/icons/map/rim_r15_c22.jpg','rim_r15_c24','','/Content/icons/map/rim_r15_c24.jpg','rim_r19_c22','','/Content/icons/map/rim_r19_c22.jpg','rim_r19_c23','','/Content/icons/map/rim_r19_c23.jpg','rim_r20_c22','','/Content/icons/map/rim_r20_c22.jpg','rim_r20_c23','','/Content/icons/map/rim_r20_c23.jpg',1);" onmouseover="MM_swapImage1('rim_r4_c22','','/Content/icons/map/rim_r4_c22_s6.jpg','rim_r4_c25','','/Content/icons/map/rim_r4_c25_s6.jpg','rim_r6_c22','','/Content/icons/map/rim_r6_c22_s4.jpg','rim_r6_c25','','/Content/icons/map/rim_r6_c25_s4.jpg','rim_r9_c22','','/Content/icons/map/rim_r9_c22_s6.jpg','rim_r9_c24','','/Content/icons/map/rim_r9_c24_s4.jpg','rim_r15_c22','','/Content/icons/map/rim_r15_c22_s6.jpg','rim_r15_c24','','/Content/icons/map/rim_r15_c24_s4.jpg','rim_r19_c22','','/Content/icons/map/rim_r19_c22_s8.jpg','rim_r19_c23','','/Content/icons/map/rim_r19_c23_s6.jpg','rim_r20_c22','','/Content/icons/map/rim_r20_c22_s6.jpg','rim_r20_c23','','/Content/icons/map/rim_r20_c23_s4.jpg',1);">Hodh Ech Chargui</a>
                </li>
                <li>
                    <a id="rim_r19_c20" href="~/Ad/GetWaresFC?r=hodh-gharbi&f=1" onmouseout="MM_swapImage2('rim_r19_c20','','/Content/icons/map/rim_r19_c20.jpg','rim_r19_c21','','/Content/icons/map/rim_r19_c21.jpg','rim_r19_c22','','/Content/icons/map/rim_r19_c22.jpg','rim_r20_c20','','/Content/icons/map/rim_r20_c20.jpg','rim_r20_c21','','/Content/icons/map/rim_r20_c21.jpg','rim_r20_c22','','/Content/icons/map/rim_r20_c22.jpg','rim_r25_c22','','/Content/icons/map/rim_r25_c22.jpg',1);" onmouseover="MM_swapImage1('rim_r19_c20','','/Content/icons/map/rim_r19_c20_s6.jpg','rim_r19_c21','','/Content/icons/map/rim_r19_c21_s6.jpg','rim_r19_c22','','/Content/icons/map/rim_r19_c22_s6.jpg','rim_r20_c20','','/Content/icons/map/rim_r20_c20_s4.jpg','rim_r20_c21','','/Content/icons/map/rim_r20_c21_s4.jpg','rim_r20_c22','','/Content/icons/map/rim_r20_c22_s4.jpg','rim_r25_c22','','/Content/icons/map/rim_r25_c22_s4.jpg',1);">Hodh El Gharbi</a>
                </li>
                <li>
                    <a id="rim_r7_c5" href="~/Ad/GetWaresFC?r=inchiri&f=1" onmouseout="MM_swapImage2('rim_r7_c5','','/Content/icons/map/rim_r7_c5.jpg','rim_r7_c9','','/Content/icons/map/rim_r7_c9.jpg','rim_r7_c10','','/Content/icons/map/rim_r7_c10.jpg','rim_r10_c5','','/Content/icons/map/rim_r10_c5.jpg','rim_r10_c9','','/Content/icons/map/rim_r10_c9.jpg',1);" onmouseover="MM_swapImage1('rim_r7_c5','','/Content/icons/map/rim_r7_c5_s4.jpg','rim_r7_c9','','/Content/icons/map/rim_r7_c9_s4.jpg','rim_r7_c10','','/Content/icons/map/rim_r7_c10_s4.jpg','rim_r10_c5','','/Content/icons/map/rim_r10_c5_s4.jpg','rim_r10_c9','','/Content/icons/map/rim_r10_c9_s4.jpg',1);">Inchiri </a>
                </li>
                <li>
                    <a id="rim_r9_c16" href="~/Ad/GetWaresFC?r=tagant&f=1" onmouseout="MM_swapImage2('rim_r9_c16','','/Content/icons/map/rim_r9_c16.jpg','rim_r9_c22','','/Content/icons/map/rim_r9_c22.jpg','rim_r15_c16','','/Content/icons/map/rim_r15_c16.jpg','rim_r15_c22','','/Content/icons/map/rim_r15_c22.jpg','rim_r16_c16','','/Content/icons/map/rim_r16_c16.jpg','rim_r16_c17','','/Content/icons/map/rim_r16_c17.jpg','rim_r17_c16','','/Content/icons/map/rim_r17_c16.jpg','rim_r17_c17','','/Content/icons/map/rim_r17_c17.jpg','rim_r17_c21','','/Content/icons/map/rim_r17_c21.jpg','rim_r19_c17','','/Content/icons/map/rim_r19_c17.jpg','rim_r19_c20','','/Content/icons/map/rim_r19_c20.jpg','rim_r19_c21','','/Content/icons/map/rim_r19_c21.jpg','rim_r19_c22','','/Content/icons/map/rim_r19_c22.jpg','rim_r19_c23','','/Content/icons/map/rim_r19_c23.jpg',1);" onmouseover="MM_swapImage1('rim_r9_c16','','/Content/icons/map/rim_r9_c16_s4.jpg','rim_r9_c22','','/Content/icons/map/rim_r9_c22_s4.jpg','rim_r15_c16','','/Content/icons/map/rim_r15_c16_s4.jpg','rim_r15_c22','','/Content/icons/map/rim_r15_c22_s4.jpg','rim_r16_c16','','/Content/icons/map/rim_r16_c16_s4.jpg','rim_r16_c17','','/Content/icons/map/rim_r16_c17_s4.jpg','rim_r17_c16','','/Content/icons/map/rim_r17_c16_s4.jpg','rim_r17_c17','','/Content/icons/map/rim_r17_c17_s4.jpg','rim_r17_c21','','/Content/icons/map/rim_r17_c21_s4.jpg','rim_r19_c17','','/Content/icons/map/rim_r19_c17_s4.jpg','rim_r19_c20','','/Content/icons/map/rim_r19_c20_s4.jpg','rim_r19_c21','','/Content/icons/map/rim_r19_c21_s4.jpg','rim_r19_c22','','/Content/icons/map/rim_r19_c22_s4.jpg','rim_r19_c23','','/Content/icons/map/rim_r19_c23_s4.jpg',1);">Tagant</a>
                </li>
                <li>
                    <a id="rim_r2_c13" href="~/Ad/GetWaresFC?r=tiris&f=1" onmouseout="MM_swapImage2('rim_r2_c13','','/Content/icons/map/rim_r2_c13.jpg','rim_r3_c13','','/Content/icons/map/rim_r3_c13.jpg','rim_r3_c25','','/Content/icons/map/rim_r3_c25.jpg','rim_r4_c13','','/Content/icons/map/rim_r4_c13.jpg','rim_r4_c22','','/Content/icons/map/rim_r4_c22.jpg','rim_r4_c25','','/Content/icons/map/rim_r4_c25.jpg','rim_r4_c26','','/Content/icons/map/rim_r4_c26.jpg',1);" onmouseover="MM_swapImage1('rim_r2_c13','','/Content/icons/map/rim_r2_c13_s4.jpg','rim_r3_c13','','/Content/icons/map/rim_r3_c13_s4.jpg','rim_r3_c25','','/Content/icons/map/rim_r3_c25_s4.jpg','rim_r4_c13','','/Content/icons/map/rim_r4_c13_s4.jpg','rim_r4_c22','','/Content/icons/map/rim_r4_c22_s4.jpg','rim_r4_c25','','/Content/icons/map/rim_r4_c25_s4.jpg','rim_r4_c26','','/Content/icons/map/rim_r4_c26_s4.jpg',1);">Tiris Zemmour </a>
                </li>
                <li>
                    <a id="rim_r13_c4" href="~/Ad/GetWaresFC?r=trarza&f=1" onmouseout="MM_swapImage2('rim_r13_c4','','/Content/icons/map/rim_r13_c4.jpg','rim_r13_c9','','/Content/icons/map/rim_r13_c9.jpg','rim_r14_c4','','/Content/icons/map/rim_r14_c4.jpg','rim_r14_c7','','/Content/icons/map/rim_r14_c7.jpg','rim_r15_c9','','/Content/icons/map/rim_r15_c9.jpg','rim_r16_c7','','/Content/icons/map/rim_r16_c7.jpg','rim_r16_c8','','/Content/icons/map/rim_r16_c8.jpg','rim_r18_c4','','/Content/icons/map/rim_r18_c4.jpg','rim_r21_c8','','/Content/icons/map/rim_r21_c8.jpg','rim_r21_c12','','/Content/icons/map/rim_r21_c12.jpg',1);" onmouseover="MM_swapImage1('rim_r13_c4','','/Content/icons/map/rim_r13_c4_s4.jpg','rim_r13_c9','','/Content/icons/map/rim_r13_c9_s4.jpg','rim_r14_c4','','/Content/icons/map/rim_r14_c4_s4.jpg','rim_r14_c7','','/Content/icons/map/rim_r14_c7_s4.jpg','rim_r15_c9','','/Content/icons/map/rim_r15_c9_s4.jpg','rim_r16_c7','','/Content/icons/map/rim_r16_c7_s4.jpg','rim_r16_c8','','/Content/icons/map/rim_r16_c8_s4.jpg','rim_r18_c4','','/Content/icons/map/rim_r18_c4_s4.jpg','rim_r21_c8','','/Content/icons/map/rim_r21_c8_s4.jpg','rim_r21_c12','','/Content/icons/map/rim_r21_c12_s4.jpg',1);">Trarza</a>
                </li>
                <li>
                    <a id="rim_r13_c5" href="~/Ad/GetWaresFC?r=all&f=1">Toutes les villes</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-9 col-md-push-0 col-sm-push-0">
            <div class="row" style="margin-top:-0px;">
                <div class="col-sm-9 col-md-9 home-div-search">
                    <form action="../Search/Control" method="post" id="form1" class="navbar-form navbar-left" role="search">

                        <div class="form-group" id="cat">
                            <span>
                                <select name="cat" class="featurebox_select_extra_large" required>
                                    <option value="">&#171;Categorie&#187;</option>
                                    @Html.Partial("_CategoriesTable")
                                </select>
                            </span>
                        </div>
                        <div class="form-group" id="ville">
                            <span>
                                <select name="ville" class="featurebox_select_extra_large" required>
                                    <option value="">&#171;Ville&#187; </option>
                                    <option value="Nouakchott">@Sough.Resource.select_ville_nktt</option>
                                    <option value="Néma">@Sough.Resource.select_ville_nema</option>
                                    <option value="Aïoun">@Sough.Resource.select_ville_aioun</option>
                                    <option value="Kiffa">@Sough.Resource.select_ville_kiffa</option>
                                    <option value="Kaédi">@Sough.Resource.select_ville_kaedi</option>
                                    <option value="Aleg">@Sough.Resource.select_ville_aleg</option>
                                    <option value="Rosso">@Sough.Resource.select_ville_rosso</option>
                                    <option value="Atar">@Sough.Resource.select_ville_atar</option>
                                    <option value="Nouadhibou">@Sough.Resource.select_ville_ndb</option>
                                    <option value="Tidjikdja">@Sough.Resource.select_ville_tidjikja</option>
                                    <option value="Selibaby">@Sough.Resource.select_ville_selibaby</option>
                                    <option value="Zouerate">@Sough.Resource.select_ville_zouerate</option>
                                    <option value="Akjoujt">@Sough.Resource.select_ville_akjoujt</option>
                                    <option value="Guerou">@Sough.Resource.select_ville_guerou</option>
                                    <option value="Magta-Lahjar">@Sough.Resource.select_ville_magta_lahjar</option>
                                    <option value="all">toutes les villes</option>
                                </select>
                            </span>
                        </div>
                        <div class="input-group" id="btn-search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">Cherche <i class="@Sough.App_Code.Ticons.search"></i></button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="row row-map">
                <div class="col-sm-9 col-md-9">
                    @Html.Partial("~/Views/map/_Rimmap.cshtml")
                </div>
            </div>
            <div class="row row-top-cat">
                <!-- row top categorie-->
                <div class="col-sm-9 col-md-9 text-center col-top-cat">
                    <h1>Top categories</h1>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <ul class="HomepageCategories-list">
                            <li class="HomepageCategories-item">
                                <a href="~/Voiture/Ads?v_p=v" class="HomepageCategories-item-link" data-qtsb-subsection="Category2">
                                    <figure class="HomepageCategories-item-figure">
                                        <span id="icon-car-fr" class="HomepageCategories-item-image"></span>
                                    </figure>
                                    <div class="HomepageCategories-item-name">
                                        Vehicule
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <ul class="HomepageCategories-list">
                            <li class="HomepageCategories-item">
                                <a href="~/Vetement/Ads?v_p=v" class="HomepageCategories-item-link" data-qtsb-subsection="Category2">
                                    <figure class="HomepageCategories-item-figure">
                                        <span id="icon-vetement-fr" class="HomepageCategories-item-image"></span>
                                    </figure>
                                    <div class="HomepageCategories-item-name">
                                        Vetements
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div><!-- end row top cat-->

        </div>

    </div>
    <div class="row">
        <div class="col-md-4 tlc">
            <div class="list_left_navigation">
                <div>
                    <div class="list_left_navigation_cat_list">
                        <ul class="cat_level_0">
                            <li><a href="~/fr/" title="Toutes les catégories"><span class="orange_hover_underline nohistory">TOUTES LES CATÉGORIES</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="list_left_navigation">
                <div>
                    <div class="navigation list_left_navigation_cat_list">
                        <ul id="cat_list" class="cat_level_0">
                            <li id="cat_list_1000" class="cat_level_0">  Véhicules </li>
                            <li id="cat_list_1080" class="cat_level_1"> <a class="nohistory" title="Auto " href="~/Voiture/Ads?v_p=v"><span class="nohistory">Voitures</span></a>  </li>
                            <li id="cat_list_1080" class="cat_level_1"> <a class="nohistory" title="Auto: Pièces et accessoires, " href="~/fr/auto-pieces-et-accessoires"><span class="nohistory">Auto: Pièces et accessoires</span></a>  </li>
                            <li id="cat_list_1040" class="cat_level_1"> <a class="nohistory" title="Moto, " href="~/fr/moto"><span class="nohistory">Moto</span></a>  </li>
                            <li id="cat_list_1140" class="cat_level_1"> <a class="nohistory" title="Moto: Pièces et accessoires, " href="~/fr/moto-pieces-et-accessoires"><span class="nohistory">Moto: Pièces et accessoires</span></a>  </li>
                            <li id="cat_list_1060" class="cat_level_1"> <a class="nohistory" title="Utilitaires, " href="~/fr/utilitaires"><span class="nohistory">Utilitaires</span></a>  </li>
                            <li id="cat_list_1100" class="cat_level_1"> <a class="nohistory" title="Nautisme, " href="~/fr/nautisme"><span class="nohistory">Nautisme</span></a>  </li>
                            <li id="cat_list_1120" class="cat_level_1"> <a class="nohistory" title="Camping et caravaning, " href="~/fr/camping-et-caravaning"><span class="nohistory">Camping et caravaning</span></a>  </li>
                            <li id="cat_list_5000" class="cat_level_0">  Immobilier </li>
                            <li id="cat_list_5020" class="cat_level_1"> <a class="nohistory" title="Ventes immobilières, " href="~/fr/ventes-immobilieres" onclick="return xt_click(this,'C','','Search::leftnav::Ventes_immobilieres::All','N')"><span class="nohistory">Ventes immobilières</span></a>  </li>
                            <li id="cat_list_5040" class="cat_level_1"> <a class="nohistory" title="Locations, " href="~/fr/locations" onclick="return xt_click(this,'C','','Search::leftnav::Locations::All','N')"><span class="nohistory">Locations</span></a>  </li>
                            <li id="cat_list_5060" class="cat_level_1"> <a class="nohistory" title="Immo vacances, " href="~/fr/immo-vacances" onclick="return xt_click(this,'C','','Search::leftnav::Immo_vacances::All','N')"><span class="nohistory">Immo vacances</span></a>  </li>
                        </ul>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">

            <div class="list_left_navigation">
                <div>
                    <div class="navigation list_left_navigation_cat_list">
                        <ul id="cat_list" class="cat_level_0">
                            <li id="cat_list_4000" class="cat_level_0">  Multimédia </li>
                            <li id="cat_list_4020" class="cat_level_1"> <a class="nohistory" title="Informatique, " href="~/fr/informatique" onclick="return xt_click(this,'C','','Search::leftnav::Informatique::All','N')"><span class="nohistory">Informatique</span></a>  </li>
                            <li id="cat_list_4100" class="cat_level_1"> <a class="nohistory" title="Consoles et Jeux vidéo, " href="~/fr/consoles-et-jeux-video" onclick="return xt_click(this,'C','','Search::leftnav::Consoles_et_Jeux_video::All','N')"><span class="nohistory">Consoles et Jeux vidéo</span></a>  </li>
                            <li id="cat_list_4042" class="cat_level_1"> <a class="nohistory" title="Films et TV, " href="~/fr/films-et-tv" onclick="return xt_click(this,'C','','Search::leftnav::Films_et_TV::All','N')"><span class="nohistory">Films et TV</span></a>  </li>
                            <li id="cat_list_4041" class="cat_level_1"> <a class="nohistory" title="Musique et audio, " href="~/fr/musique-et-audio" onclick="return xt_click(this,'C','','Search::leftnav::Musique_et_audio::All','N')"><span class="nohistory">Musique et audio</span></a>  </li>
                            <li id="cat_list_4043" class="cat_level_1"> <a class="nohistory" title="Photos et caméras, " href="~/fr/photos-et-cameras" onclick="return xt_click(this,'C','','Search::leftnav::Photos_et_cameras::All','N')"><span class="nohistory">Photos et caméras</span></a>  </li>
                            <li id="cat_list_4080" class="cat_level_1"> <a class="nohistory" title="Téléphonie, " href="~/fr/telephonie" onclick="return xt_click(this,'C','','Search::leftnav::Telephonie::All','N')"><span class="nohistory">Téléphonie</span></a>  </li>
                            <li id="cat_list_2000" class="cat_level_0">  Maison </li>
                            <li id="cat_list_2020" class="cat_level_1"> <a class="nohistory" title="Meubles et décorations, " href="~/fr/meubles-et-decorations" onclick="return xt_click(this,'C','','Search::leftnav::Meubles_et_decorations::All','N')"><span class="nohistory">Meubles et décorations</span></a>  </li>
                            <li id="cat_list_2021" class="cat_level_1"> <a class="nohistory" title="Ustensiles et gastronomie, " href="~/fr/ustensiles-et-gastronomie" onclick="return xt_click(this,'C','','Search::leftnav::Ustensiles_et_gastronomie::All','N')"><span class="nohistory">Ustensiles et gastronomie</span></a>  </li>
                            <li id="cat_list_4060" class="cat_level_1"> <a class="nohistory" title="Electroménagers, " href="~/fr/electromenagers" onclick="return xt_click(this,'C','','Search::leftnav::Electromenagers::All','N')"><span class="nohistory">Electroménagers</span></a>  </li>
                            <li id="cat_list_2040" class="cat_level_1"> <a class="nohistory" title="Art et antiquités, " href="~/fr/art-et-antiquites" onclick="return xt_click(this,'C','','Search::leftnav::Art_et_antiquites::All','N')"><span class="nohistory">Art et antiquités</span></a>  </li>
                            <li id="cat_list_2060" class="cat_level_1"> <a class="nohistory" title="Jardin, " href="~/fr/jardin" onclick="return xt_click(this,'C','','Search::leftnav::Jardin::All','N')"><span class="nohistory">Jardin</span></a>  </li>
                            <li id="cat_list_2080" class="cat_level_1"> <a class="nohistory" title="Bricolage et construction, " href="~/fr/bricolage-et-construction" onclick="return xt_click(this,'C','','Search::leftnav::Bricolage_et_construction::All','N')"><span class="nohistory">Bricolage et construction</span></a>  </li>
                            <li id="cat_list_2100" class="cat_level_1"> <a class="nohistory" title="Enfant et bébé, " href="~/fr/enfant-et-bebe" onclick="return xt_click(this,'C','','Search::leftnav::Enfant_et_bebe::All','N')"><span class="nohistory">Enfant et bébé</span></a>  </li>
                            <li id="cat_list_2120" class="cat_level_1"> <a class="nohistory" title="Vêtements et accessoires, " href="~/fr/vetements-et-accessoires" onclick="return xt_click(this,'C','','Search::leftnav::Vetements_et_accessoires::All','N')"><span class="nohistory">Vêtements et accessoires</span></a>  </li>
                            <li id="cat_list_2140" class="cat_level_1"> <a class="nohistory" title="Bijoux et montres, " href="~/fr/bijoux-et-montres" onclick="return xt_click(this,'C','','Search::leftnav::Bijoux_et_montres::All','N')"><span class="nohistory">Bijoux et montres</span></a>  </li>
                            <li id="cat_list_2160" class="cat_level_1"> <a class="nohistory" title="Beauté et bien-être, " href="~/fr/beaute-et-bien-etre" onclick="return xt_click(this,'C','','Search::leftnav::Beaute_et_bien-etre::All','N')"><span class="nohistory">Beauté et bien-être</span></a>  </li>
                        </ul>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">

            <div class="list_left_navigation">
                <div>
                    <div class="navigation list_left_navigation_cat_list">
                        <ul class="cat_level_0">
                            <li id="cat_list_3000" class="cat_level_0">  Loisirs </li>
                            <li id="cat_list_3020" class="cat_level_1"> <a class="nohistory" title="Animaux, " href="~/fr/animaux" onclick="return xt_click(this,'C','','Search::leftnav::Animaux::All','N')"><span class="nohistory">Animaux</span></a>  </li>
                            <li id="cat_list_3040" class="cat_level_1"> <a class="nohistory" title="Vélo, " href="~/fr/velo" onclick="return xt_click(this,'C','','Search::leftnav::Velo::All','N')"><span class="nohistory">Vélo</span></a>  </li>
                            <li id="cat_list_3060" class="cat_level_1"> <a class="nohistory" title="Sports et hobbies, " href="~/fr/sports-et-hobbies" onclick="return xt_click(this,'C','','Search::leftnav::Sports_et_hobbies::All','N')"><span class="nohistory">Sports et hobbies</span></a>  </li>
                            <li id="cat_list_3084" class="cat_level_1"> <a class="nohistory" title="Instruments de musique, " href="~/fr/instruments-de-musique" onclick="return xt_click(this,'C','','Search::leftnav::Instruments_de_musique::All','N')"><span class="nohistory">Instruments de musique</span></a>  </li>
                            <li id="cat_list_3100" class="cat_level_1"> <a class="nohistory" title="Livres, " href="~/fr/livres" onclick="return xt_click(this,'C','','Search::leftnav::Livres::All','N')"><span class="nohistory">Livres</span></a>  </li>
                            <li id="cat_list_3120" class="cat_level_1"> <a class="nohistory" title="Collections, " href="~/fr/collections" onclick="return xt_click(this,'C','','Search::leftnav::Collections::All','N')"><span class="nohistory">Collections</span></a>  </li>
                            <li id="cat_list_3140" class="cat_level_1"> <a class="nohistory" title="Tickets et billetterie, " href="~/fr/tickets-et-billetterie" onclick="return xt_click(this,'C','','Search::leftnav::Tickets_et_billetterie::All','N')"><span class="nohistory">Tickets et billetterie</span></a>  </li>
                            <li id="cat_list_6000" class="cat_level_0">  Emploi et Services </li>
                            <li id="cat_list_6020" class="cat_level_1"> <a class="nohistory" title="Emploi, " href="~/fr/emploi" onclick="return xt_click(this,'C','','Search::leftnav::Emploi::All','N')"><span class="nohistory">Emploi</span></a>  </li>
                            <li id="cat_list_6060" class="cat_level_1"> <a class="nohistory" title="Services, " href="~/fr/services" onclick="return xt_click(this,'C','','Search::leftnav::Services::All','N')"><span class="nohistory">Services</span></a>  </li>
                            <li id="cat_list_6080" class="cat_level_1"> <a class="nohistory" title="Agriculture, " href="~/fr/agriculture" onclick="return xt_click(this,'C','','Search::leftnav::Agriculture::All','N')"><span class="nohistory">Agriculture</span></a>  </li>
                            <li id="cat_list_6100" class="cat_level_1"> <a class="nohistory" title="Commerce et Affaires, " href="~/fr/commerce-et-affaires" onclick="return xt_click(this,'C','','Search::leftnav::Commerce_et_Affaires::All','N')"><span class="nohistory">Commerce et Affaires</span></a>  </li>
                            <li id="cat_list_7000" class="cat_level_0 empty_li_ie7"> </li>
                            <li id="cat_list_7020" class="cat_level_1"> <a class="nohistory" title="Autres, " href="~/fr/autres" onclick="return xt_click(this,'C','','Search::leftnav::Autres::All','N')"><span class="nohistory">Autres</span></a>  </li>
                        </ul>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>