@{
    ViewBag.Title = "Index Ar";
    string culture = Sough.GererLang.currentLang;
}


@section Styles{
    <link href="@Url.Content("~/Content/css/index/figure.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/index/index-ar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/toujjar-theme/span-input-select-"+culture+".css")" rel="stylesheet" type="text/css" />

}

@section Scripts {
    <script src="~/Scripts/index/carte.js" language="JavaScript1.2" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jq-caresoul")
    @Scripts.Render("~/bundles/select-options")
}


<div class="content">

    <div class="row">

        <div class="col-xs-12 col-sm-3 col-md-3 col-md-pull-0 col-sm-pull-0 div-cat">
            <ul>
                <li>
                    <a id="rim_r14_c2" href="~/Ad/GetWaresFC?r=Nouakchott&f=1" onmouseout="MM_swapImage2('rim_r14_c2','','/Content/icons/map/rim_r14_c2.jpg','rim_r14_c4','','/Content/icons/map/rim_r14_c4.jpg',1);" onmouseover="MM_swapImage1('rim_r14_c2','','/Content/icons/map/rim_r14_c2_s4.jpg','rim_r14_c4','','/Content/icons/map/rim_r14_c4_s6.jpg',1);">@Sough.Resource.select_ville_nktt </a>
                </li>
                <li>
                    <a id="rim_r3_c9" href="~/Ad/GetWaresFC?r=adrar&f=1" onmouseout="MM_swapImage2('rim_r3_c9','','/Content/icons/map/rim_r3_c9.jpg','rim_r3_c13','','/Content/icons/map/rim_r3_c13.jpg','rim_r4_c13','','/Content/icons/map/rim_r4_c13.jpg','rim_r4_c22','','/Content/icons/map/rim_r4_c22.jpg','rim_r5_c9','','/Content/icons/map/rim_r5_c9.jpg','rim_r5_c10','','/Content/icons/map/rim_r5_c10.jpg','rim_r6_c13','','/Content/icons/map/rim_r6_c13.jpg','rim_r6_c22','','/Content/icons/map/rim_r6_c22.jpg','rim_r7_c9','','/Content/icons/map/rim_r7_c9.jpg','rim_r7_c10','','/Content/icons/map/rim_r7_c10.jpg','rim_r7_c11','','/Content/icons/map/rim_r7_c11.jpg','rim_r9_c13','','/Content/icons/map/rim_r9_c13.jpg','rim_r9_c16','','/Content/icons/map/rim_r9_c16.jpg','rim_r9_c22','','/Content/icons/map/rim_r9_c22.jpg','rim_r9_c24','','/Content/icons/map/rim_r9_c24.jpg','rim_r10_c9','','/Content/icons/map/rim_r10_c9.jpg','rim_r12_c9','','/Content/icons/map/rim_r12_c9.jpg','rim_r13_c9','','/Content/icons/map/rim_r13_c9.jpg','rim_r13_c14','','/Content/icons/map/rim_r13_c14.jpg',1);" onmouseover="MM_swapImage1('rim_r3_c9','','/Content/icons/map/rim_r3_c9_s4.jpg','rim_r3_c13','','/Content/icons/map/rim_r3_c13_s6.jpg','rim_r4_c13','','/Content/icons/map/rim_r4_c13_s6.jpg','rim_r4_c22','','/Content/icons/map/rim_r4_c22_s8.jpg','rim_r5_c9','','/Content/icons/map/rim_r5_c9_s6.jpg','rim_r5_c10','','/Content/icons/map/rim_r5_c10_s4.jpg','rim_r6_c13','','/Content/icons/map/rim_r6_c13_s4.jpg','rim_r6_c22','','/Content/icons/map/rim_r6_c22_s6.jpg','rim_r7_c9','','/Content/icons/map/rim_r7_c9_s8.jpg','rim_r7_c10','','/Content/icons/map/rim_r7_c10_s6.jpg','rim_r7_c11','','/Content/icons/map/rim_r7_c11_s4.jpg','rim_r9_c13','','/Content/icons/map/rim_r9_c13_s4.jpg','rim_r9_c16','','/Content/icons/map/rim_r9_c16_s6.jpg','rim_r9_c22','','/Content/icons/map/rim_r9_c22_s8.jpg','rim_r9_c24','','/Content/icons/map/rim_r9_c24_s6.jpg','rim_r10_c9','','/Content/icons/map/rim_r10_c9_s6.jpg','rim_r12_c9','','/Content/icons/map/rim_r12_c9_s4.jpg','rim_r13_c9','','/Content/icons/map/rim_r13_c9_s6.jpg','rim_r13_c14','','/Content/icons/map/rim_r13_c14_s4.jpg',1);">@Sough.Resource.adrar</a>
                </li>
                <li>
                    <a id="rim_r17_c14" href="~/Ad/GetWaresFC?r=assaba&f=1" onmouseout="MM_swapImage2('rim_r17_c14','','/Content/icons/map/rim_r17_c14.jpg','rim_r17_c16','','/Content/icons/map/rim_r17_c16.jpg','rim_r17_c17','','/Content/icons/map/rim_r17_c17.jpg','rim_r19_c17','','/Content/icons/map/rim_r19_c17.jpg','rim_r19_c20','','/Content/icons/map/rim_r19_c20.jpg','rim_r20_c16','','/Content/icons/map/rim_r20_c16.jpg','rim_r20_c17','','/Content/icons/map/rim_r20_c17.jpg','rim_r20_c20','','/Content/icons/map/rim_r20_c20.jpg','rim_r21_c14','','/Content/icons/map/rim_r21_c14.jpg','rim_r21_c17','','/Content/icons/map/rim_r21_c17.jpg','rim_r21_c18','','/Content/icons/map/rim_r21_c18.jpg','rim_r23_c14','','/Content/icons/map/rim_r23_c14.jpg','rim_r24_c14','','/Content/icons/map/rim_r24_c14.jpg','rim_r24_c15','','/Content/icons/map/rim_r24_c15.jpg','rim_r24_c18','','/Content/icons/map/rim_r24_c18.jpg','rim_r24_c19','','/Content/icons/map/rim_r24_c19.jpg','rim_r26_c20','','/Content/icons/map/rim_r26_c20.jpg','rim_r27_c14','','/Content/icons/map/rim_r27_c14.jpg','rim_r27_c15','','/Content/icons/map/rim_r27_c15.jpg',1);" onmouseover="MM_swapImage1('rim_r17_c14','','/Content/icons/map/rim_r17_c14_s6.jpg','rim_r17_c16','','/Content/icons/map/rim_r17_c16_s8.jpg','rim_r17_c17','','/Content/icons/map/rim_r17_c17_s6.jpg','rim_r19_c17','','/Content/icons/map/rim_r19_c17_s6.jpg','rim_r19_c20','','/Content/icons/map/rim_r19_c20_s8.jpg','rim_r20_c16','','/Content/icons/map/rim_r20_c16_s6.jpg','rim_r20_c17','','/Content/icons/map/rim_r20_c17_s4.jpg','rim_r20_c20','','/Content/icons/map/rim_r20_c20_s6.jpg','rim_r21_c14','','/Content/icons/map/rim_r21_c14_s8.jpg','rim_r21_c17','','/Content/icons/map/rim_r21_c17_s6.jpg','rim_r21_c18','','/Content/icons/map/rim_r21_c18_s4.jpg','rim_r23_c14','','/Content/icons/map/rim_r23_c14_s6.jpg','rim_r24_c14','','/Content/icons/map/rim_r24_c14_s6.jpg','rim_r24_c15','','/Content/icons/map/rim_r24_c15_s8.jpg','rim_r24_c18','','/Content/icons/map/rim_r24_c18_s6.jpg','rim_r24_c19','','/Content/icons/map/rim_r24_c19_s4.jpg','rim_r26_c20','','/Content/icons/map/rim_r26_c20_s4.jpg','rim_r27_c14','','/Content/icons/map/rim_r27_c14_s4.jpg','rim_r27_c15','','/Content/icons/map/rim_r27_c15_s6.jpg',1);">@Sough.Resource.assaba</a>
                </li>
                <li>
                    <a id="rim_r16_c8" href="~/Ad/GetWaresFC?r=brakna&f=1" onmouseout="MM_swapImage2('rim_r16_c8','','/Content/icons/map/rim_r16_c8.jpg','rim_r16_c14','','/Content/icons/map/rim_r16_c14.jpg','rim_r16_c16','','/Content/icons/map/rim_r16_c16.jpg','rim_r17_c14','','/Content/icons/map/rim_r17_c14.jpg','rim_r17_c16','','/Content/icons/map/rim_r17_c16.jpg','rim_r20_c16','','/Content/icons/map/rim_r20_c16.jpg','rim_r21_c8','','/Content/icons/map/rim_r21_c8.jpg','rim_r21_c12','','/Content/icons/map/rim_r21_c12.jpg','rim_r21_c14','','/Content/icons/map/rim_r21_c14.jpg','rim_r22_c8','','/Content/icons/map/rim_r22_c8.jpg','rim_r22_c12','','/Content/icons/map/rim_r22_c12.jpg',1);" onmouseover="MM_swapImage1('rim_r16_c8','','/Content/icons/map/rim_r16_c8_s6.jpg','rim_r16_c14','','/Content/icons/map/rim_r16_c14_s4.jpg','rim_r16_c16','','/Content/icons/map/rim_r16_c16_s6.jpg','rim_r17_c14','','/Content/icons/map/rim_r17_c14_s4.jpg','rim_r17_c16','','/Content/icons/map/rim_r17_c16_s6.jpg','rim_r20_c16','','/Content/icons/map/rim_r20_c16_s4.jpg','rim_r21_c8','','/Content/icons/map/rim_r21_c8_s6.jpg','rim_r21_c12','','/Content/icons/map/rim_r21_c12_s8.jpg','rim_r21_c14','','/Content/icons/map/rim_r21_c14_s6.jpg','rim_r22_c8','','/Content/icons/map/rim_r22_c8_s4.jpg','rim_r22_c12','','/Content/icons/map/rim_r22_c12_s6.jpg',1);">@Sough.Resource.brakna</a>
                </li>
                <li>
                    <a id="rim_r5_c3" href="~/Ad/GetWaresFC?r=dakhlet-nouadhibou&f=1" onmouseout="MM_swapImage2('rim_r5_c3','','/Content/icons/map/rim_r5_c3.jpg','rim_r5_c9','','/Content/icons/map/rim_r5_c9.jpg','rim_r7_c3','','/Content/icons/map/rim_r7_c3.jpg','rim_r7_c5','','/Content/icons/map/rim_r7_c5.jpg','rim_r7_c9','','/Content/icons/map/rim_r7_c9.jpg',1);" onmouseover="MM_swapImage1('rim_r5_c3','','/Content/icons/map/rim_r5_c3_s4.jpg','rim_r5_c9','','/Content/icons/map/rim_r5_c9_s4.jpg','rim_r7_c3','','/Content/icons/map/rim_r7_c3_s4.jpg','rim_r7_c5','','/Content/icons/map/rim_r7_c5_s6.jpg','rim_r7_c9','','/Content/icons/map/rim_r7_c9_s6.jpg',1);">@Sough.Resource.dakhlet_nouadhibou</a>
                </li>
                <li>
                    <a id="rim_r21_c12" href="~/Ad/GetWaresFC?r=gorgol&f=1" onmouseout="MM_swapImage2('rim_r21_c12','','/Content/icons/map/rim_r21_c12.jpg','rim_r21_c14','','/Content/icons/map/rim_r21_c14.jpg','rim_r21_c17','','/Content/icons/map/rim_r21_c17.jpg','rim_r22_c12','','/Content/icons/map/rim_r22_c12.jpg','rim_r23_c12','','/Content/icons/map/rim_r23_c12.jpg','rim_r23_c14','','/Content/icons/map/rim_r23_c14.jpg','rim_r24_c14','','/Content/icons/map/rim_r24_c14.jpg','rim_r24_c15','','/Content/icons/map/rim_r24_c15.jpg',1);" onmouseover="MM_swapImage1('rim_r21_c12','','/Content/icons/map/rim_r21_c12_s6.jpg','rim_r21_c14','','/Content/icons/map/rim_r21_c14_s4.jpg','rim_r21_c17','','/Content/icons/map/rim_r21_c17_s4.jpg','rim_r22_c12','','/Content/icons/map/rim_r22_c12_s4.jpg','rim_r23_c12','','/Content/icons/map/rim_r23_c12_s4.jpg','rim_r23_c14','','/Content/icons/map/rim_r23_c14_s4.jpg','rim_r24_c14','','/Content/icons/map/rim_r24_c14_s4.jpg','rim_r24_c15','','/Content/icons/map/rim_r24_c15_s6.jpg',1);">@Sough.Resource.gorgol</a>
                </li>
                <li>
                    <a id="rim_r24_c15" href="~/Ad/GetWaresFC?r=guidimaka&f=1" onmouseout="MM_swapImage2('rim_r24_c15','','/Content/icons/map/rim_r24_c15.jpg','rim_r24_c18','','/Content/icons/map/rim_r24_c18.jpg','rim_r27_c15','','/Content/icons/map/rim_r27_c15.jpg','rim_r28_c15','','/Content/icons/map/rim_r28_c15.jpg',1);" onmouseover="MM_swapImage1('rim_r24_c15','','/Content/icons/map/rim_r24_c15_s4.jpg','rim_r24_c18','','/Content/icons/map/rim_r24_c18_s4.jpg','rim_r27_c15','','/Content/icons/map/rim_r27_c15_s4.jpg','rim_r28_c15','','/Content/icons/map/rim_r28_c15_s4.jpg',1);">@Sough.Resource.guidimaka</a>
                </li>
                <li>
                    <a id="rim_r4_c22" href="~/Ad/GetWaresFC?r=hodh-chargui&f=1" onmouseout="MM_swapImage2('rim_r4_c22','','/Content/icons/map/rim_r4_c22.jpg','rim_r4_c25','','/Content/icons/map/rim_r4_c25.jpg','rim_r6_c22','','/Content/icons/map/rim_r6_c22.jpg','rim_r6_c25','','/Content/icons/map/rim_r6_c25.jpg','rim_r9_c22','','/Content/icons/map/rim_r9_c22.jpg','rim_r9_c24','','/Content/icons/map/rim_r9_c24.jpg','rim_r15_c22','','/Content/icons/map/rim_r15_c22.jpg','rim_r15_c24','','/Content/icons/map/rim_r15_c24.jpg','rim_r19_c22','','/Content/icons/map/rim_r19_c22.jpg','rim_r19_c23','','/Content/icons/map/rim_r19_c23.jpg','rim_r20_c22','','/Content/icons/map/rim_r20_c22.jpg','rim_r20_c23','','/Content/icons/map/rim_r20_c23.jpg',1);" onmouseover="MM_swapImage1('rim_r4_c22','','/Content/icons/map/rim_r4_c22_s6.jpg','rim_r4_c25','','/Content/icons/map/rim_r4_c25_s6.jpg','rim_r6_c22','','/Content/icons/map/rim_r6_c22_s4.jpg','rim_r6_c25','','/Content/icons/map/rim_r6_c25_s4.jpg','rim_r9_c22','','/Content/icons/map/rim_r9_c22_s6.jpg','rim_r9_c24','','/Content/icons/map/rim_r9_c24_s4.jpg','rim_r15_c22','','/Content/icons/map/rim_r15_c22_s6.jpg','rim_r15_c24','','/Content/icons/map/rim_r15_c24_s4.jpg','rim_r19_c22','','/Content/icons/map/rim_r19_c22_s8.jpg','rim_r19_c23','','/Content/icons/map/rim_r19_c23_s6.jpg','rim_r20_c22','','/Content/icons/map/rim_r20_c22_s6.jpg','rim_r20_c23','','/Content/icons/map/rim_r20_c23_s4.jpg',1);">@Sough.Resource.hodh_chargui</a>
                </li>
                <li>
                    <a id="rim_r19_c20" href="~/Ad/GetWaresFC?r=hodh-gharbi&f=1" onmouseout="MM_swapImage2('rim_r19_c20','','/Content/icons/map/rim_r19_c20.jpg','rim_r19_c21','','/Content/icons/map/rim_r19_c21.jpg','rim_r19_c22','','/Content/icons/map/rim_r19_c22.jpg','rim_r20_c20','','/Content/icons/map/rim_r20_c20.jpg','rim_r20_c21','','/Content/icons/map/rim_r20_c21.jpg','rim_r20_c22','','/Content/icons/map/rim_r20_c22.jpg','rim_r25_c22','','/Content/icons/map/rim_r25_c22.jpg',1);" onmouseover="MM_swapImage1('rim_r19_c20','','/Content/icons/map/rim_r19_c20_s6.jpg','rim_r19_c21','','/Content/icons/map/rim_r19_c21_s6.jpg','rim_r19_c22','','/Content/icons/map/rim_r19_c22_s6.jpg','rim_r20_c20','','/Content/icons/map/rim_r20_c20_s4.jpg','rim_r20_c21','','/Content/icons/map/rim_r20_c21_s4.jpg','rim_r20_c22','','/Content/icons/map/rim_r20_c22_s4.jpg','rim_r25_c22','','/Content/icons/map/rim_r25_c22_s4.jpg',1);">@Sough.Resource.hodh_gharbi</a>
                </li>
                <li>
                    <a id="rim_r7_c5" href="~/Ad/GetWaresFC?r=inchiri&f=1" onmouseout="MM_swapImage2('rim_r7_c5','','/Content/icons/map/rim_r7_c5.jpg','rim_r7_c9','','/Content/icons/map/rim_r7_c9.jpg','rim_r7_c10','','/Content/icons/map/rim_r7_c10.jpg','rim_r10_c5','','/Content/icons/map/rim_r10_c5.jpg','rim_r10_c9','','/Content/icons/map/rim_r10_c9.jpg',1);" onmouseover="MM_swapImage1('rim_r7_c5','','/Content/icons/map/rim_r7_c5_s4.jpg','rim_r7_c9','','/Content/icons/map/rim_r7_c9_s4.jpg','rim_r7_c10','','/Content/icons/map/rim_r7_c10_s4.jpg','rim_r10_c5','','/Content/icons/map/rim_r10_c5_s4.jpg','rim_r10_c9','','/Content/icons/map/rim_r10_c9_s4.jpg',1);">@Sough.Resource.inchiri </a>
                </li>
                <li>
                    <a id="rim_r9_c16" href="~/Ad/GetWaresFC?r=tagant&f=1" onmouseout="MM_swapImage2('rim_r9_c16','','/Content/icons/map/rim_r9_c16.jpg','rim_r9_c22','','/Content/icons/map/rim_r9_c22.jpg','rim_r15_c16','','/Content/icons/map/rim_r15_c16.jpg','rim_r15_c22','','/Content/icons/map/rim_r15_c22.jpg','rim_r16_c16','','/Content/icons/map/rim_r16_c16.jpg','rim_r16_c17','','/Content/icons/map/rim_r16_c17.jpg','rim_r17_c16','','/Content/icons/map/rim_r17_c16.jpg','rim_r17_c17','','/Content/icons/map/rim_r17_c17.jpg','rim_r17_c21','','/Content/icons/map/rim_r17_c21.jpg','rim_r19_c17','','/Content/icons/map/rim_r19_c17.jpg','rim_r19_c20','','/Content/icons/map/rim_r19_c20.jpg','rim_r19_c21','','/Content/icons/map/rim_r19_c21.jpg','rim_r19_c22','','/Content/icons/map/rim_r19_c22.jpg','rim_r19_c23','','/Content/icons/map/rim_r19_c23.jpg',1);" onmouseover="MM_swapImage1('rim_r9_c16','','/Content/icons/map/rim_r9_c16_s4.jpg','rim_r9_c22','','/Content/icons/map/rim_r9_c22_s4.jpg','rim_r15_c16','','/Content/icons/map/rim_r15_c16_s4.jpg','rim_r15_c22','','/Content/icons/map/rim_r15_c22_s4.jpg','rim_r16_c16','','/Content/icons/map/rim_r16_c16_s4.jpg','rim_r16_c17','','/Content/icons/map/rim_r16_c17_s4.jpg','rim_r17_c16','','/Content/icons/map/rim_r17_c16_s4.jpg','rim_r17_c17','','/Content/icons/map/rim_r17_c17_s4.jpg','rim_r17_c21','','/Content/icons/map/rim_r17_c21_s4.jpg','rim_r19_c17','','/Content/icons/map/rim_r19_c17_s4.jpg','rim_r19_c20','','/Content/icons/map/rim_r19_c20_s4.jpg','rim_r19_c21','','/Content/icons/map/rim_r19_c21_s4.jpg','rim_r19_c22','','/Content/icons/map/rim_r19_c22_s4.jpg','rim_r19_c23','','/Content/icons/map/rim_r19_c23_s4.jpg',1);">@Sough.Resource.tagant</a>
                </li>
                <li>
                    <a id="rim_r2_c13" href="~/Ad/GetWaresFC?r=tiris&f=1" onmouseout="MM_swapImage2('rim_r2_c13','','/Content/icons/map/rim_r2_c13.jpg','rim_r3_c13','','/Content/icons/map/rim_r3_c13.jpg','rim_r3_c25','','/Content/icons/map/rim_r3_c25.jpg','rim_r4_c13','','/Content/icons/map/rim_r4_c13.jpg','rim_r4_c22','','/Content/icons/map/rim_r4_c22.jpg','rim_r4_c25','','/Content/icons/map/rim_r4_c25.jpg','rim_r4_c26','','/Content/icons/map/rim_r4_c26.jpg',1);" onmouseover="MM_swapImage1('rim_r2_c13','','/Content/icons/map/rim_r2_c13_s4.jpg','rim_r3_c13','','/Content/icons/map/rim_r3_c13_s4.jpg','rim_r3_c25','','/Content/icons/map/rim_r3_c25_s4.jpg','rim_r4_c13','','/Content/icons/map/rim_r4_c13_s4.jpg','rim_r4_c22','','/Content/icons/map/rim_r4_c22_s4.jpg','rim_r4_c25','','/Content/icons/map/rim_r4_c25_s4.jpg','rim_r4_c26','','/Content/icons/map/rim_r4_c26_s4.jpg',1);">@Sough.Resource.tiris</a>
                </li>
                <li>
                    <a id="rim_r13_c4" href="~/Ad/GetWaresFC?r=trarza&f=1" onmouseout="MM_swapImage2('rim_r13_c4','','/Content/icons/map/rim_r13_c4.jpg','rim_r13_c9','','/Content/icons/map/rim_r13_c9.jpg','rim_r14_c4','','/Content/icons/map/rim_r14_c4.jpg','rim_r14_c7','','/Content/icons/map/rim_r14_c7.jpg','rim_r15_c9','','/Content/icons/map/rim_r15_c9.jpg','rim_r16_c7','','/Content/icons/map/rim_r16_c7.jpg','rim_r16_c8','','/Content/icons/map/rim_r16_c8.jpg','rim_r18_c4','','/Content/icons/map/rim_r18_c4.jpg','rim_r21_c8','','/Content/icons/map/rim_r21_c8.jpg','rim_r21_c12','','/Content/icons/map/rim_r21_c12.jpg',1);" onmouseover="MM_swapImage1('rim_r13_c4','','/Content/icons/map/rim_r13_c4_s4.jpg','rim_r13_c9','','/Content/icons/map/rim_r13_c9_s4.jpg','rim_r14_c4','','/Content/icons/map/rim_r14_c4_s4.jpg','rim_r14_c7','','/Content/icons/map/rim_r14_c7_s4.jpg','rim_r15_c9','','/Content/icons/map/rim_r15_c9_s4.jpg','rim_r16_c7','','/Content/icons/map/rim_r16_c7_s4.jpg','rim_r16_c8','','/Content/icons/map/rim_r16_c8_s4.jpg','rim_r18_c4','','/Content/icons/map/rim_r18_c4_s4.jpg','rim_r21_c8','','/Content/icons/map/rim_r21_c8_s4.jpg','rim_r21_c12','','/Content/icons/map/rim_r21_c12_s4.jpg',1);">@Sough.Resource.trarza</a>
                </li>
                <li>
                    <a id="rim_r13_c5" href="~/Ad/GetWaresFC?r=all&f=1">@Sough.Resource.toute_les_villes</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-9 col-md-7 col-md-push-0 col-sm-push-0">

            <div class="row" style="margin-top:-0px;">
                <div class="col-sm-11 col-md-11 home-div-search">
                    <form action="../Search/Control" method="post" id="form1" class="navbar-form navbar-left" role="search">

                        <div class="form-group" id="cat">
                            <span>
                                <select name="cat" class="featurebox_select_extra_large" required>
                                    <option value="">&#171;@Sough.Resource.index_select_categorie&#187;</option>
                                    @Html.Partial("_CategoriesTables")
                                </select>
                            </span>
                        </div>
                        <div class="form-group" id="ville">
                            <span>
                                <select name="ville" class="featurebox_select_extra_large" required>
                                    <option value="">&#171;@Sough.Resource.LabelVilles&#187; </option>
                                    <option value="Nouakchott">@Sough.Resource.select_ville_nktt</option>
                                    <option value="Néma">@Sough.Resource.select_ville_nema</option>
                                    <option value="Aïoun">@Sough.Resource.select_ville_aioun</option>
                                    <option value="Kiffa">@Sough.Resource.select_ville_kiffa</option>
                                    <option value="Kaédi">@Sough.Resource.select_ville_kaedi</option>
                                    <option value="Aleg">@Sough.Resource.select_ville_aleg</option>
                                    <option value="Rosso">@Sough.Resource.select_ville_rosso</option>
                                    <option value="Atar">@Sough.Resource.select_ville_atar</option>
                                    <option value="Nouadhibou">@Sough.Resource.select_ville_ndb</option>
                                    <option value="Tidjikdja">@Sough.Resource.select_ville_tidjikja</option>
                                    <option value="Selibaby">@Sough.Resource.select_ville_selibaby</option>
                                    <option value="Zouerate">@Sough.Resource.select_ville_zouerate</option>
                                    <option value="Akjoujt">@Sough.Resource.select_ville_akjoujt</option>
                                    <option value="Guerou">@Sough.Resource.select_ville_guerou</option>
                                    <option value="Magta-Lahjar">@Sough.Resource.select_ville_magta_lahjar</option>
                                    <option value="all">@Sough.Resource.toute_les_villes</option>
                                </select>
                            </span>
                        </div>
                        <div class="input-group" id="btn-search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">@Sough.Resource.btn_cherche <i class="@Sough.App_Code.Ticons.search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row row-map">
                <div class="col-sm-9 col-md-9">
                    @Html.Partial("~/Views/map/_Rimmap.cshtml")
                </div>
                <div class="col-sm-3 hidden-lg hidden-md hidden-xs">
                    <!-- placeX -->
                    <div class="panel panel-success">
                        <div class="panel-heading"> Vos produits </div>
                        <ul class="nav nav-staked">
                            <li><a href="">Modifier un produit</a></li>
                            <li><a href="">Supprimer un produit</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row row-top-cat">
                <!-- row top categorie-->
                <div class="col-sm-9 col-md-9 text-center col-top-cat">
                    <h1>@Sough.Resource.top_cat</h1>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <ul class="HomepageCategories-list">
                            <li class="HomepageCategories-item">
                                <a href="~/Voiture/Ads?v_p=v" class="HomepageCategories-item-link" data-qtsb-subsection="Category2">
                                    <figure class="HomepageCategories-item-figure">
                                        <span id="icon-car-fr" class="HomepageCategories-item-image"></span>
                                    </figure>
                                    <div class="HomepageCategories-item-name">
                                        @Sough.Resource.cat_vehicules
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <ul class="HomepageCategories-list">
                            <li class="HomepageCategories-item">
                                <a href="~/Vetement/Ads?v_p=v" class="HomepageCategories-item-link" data-qtsb-subsection="Category2">
                                    <figure class="HomepageCategories-item-figure">
                                        <span id="icon-vetement-fr" class="HomepageCategories-item-image"></span>
                                    </figure>
                                    <div class="HomepageCategories-item-name">
                                        @Sough.Resource.cat_Vetements
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div><!-- end row top cat-->

        </div>

        <div class="row hidden-sm hidden-xs">
            <div class="col-md-2 col-space1">

            </div>
            <div class="col-md-2">
                <div class="panel panel-success">
                    <div class="panel-heading"> لديك تجارة هنا؟ </div>
                    <ul class="nav nav-staked">
                        <li><a href="~/Operations/GetProductsFromPN?o=m">تعديل بيانات</a></li>
                        <li><a href="~/Operations/GetProductsFromPN?o=s">حذف المباعة</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row hidden-sm hidden-md hidden-lg">
            <div class="col-xs-5">
                <div class="panel panel-success">
                    <div class="panel-heading"> Vos produits </div>
                    <ul class="nav nav-staked">
                        <li><a href="">Modifier un produit</a></li>
                        <li><a href="">Supprimer un produit</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-5">
                <!-- placeX -->
            </div>
        </div>

    </div>

    <div class="row" id="ltc">
        <!-- row top categorie-->
        <div class="col-md-12 text-center">
            <h1 class="ttl-center">@Sough.Resource.label_toute_les_cat</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="list_left_navigation">
                <div>
                    <div class="navigation list_left_navigation_cat_list">
                        <ul id="cat_list" class="cat_level_0">
                            <li id="cat_list_1000" class="cat_level_0"> <span> @Sough.Resource.cat_vehicules</span> </li>
                            <li id="cat_list_1080" class="cat_level_1"> <a class="nohistory" title="" href="~/Voiture/Ads?v_p=v"><span class="nohistory">@Sough.Resource.cat_voiture</span></a>  </li>
                            <li id="cat_list_1080" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/auto-pieces-et-accessoires"><span class="nohistory">@Sough.Resource.cat_pieces_detachees</span></a>  </li>
                            <li id="cat_list_1140" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/moto-pieces-et-accessoires"><span class="nohistory">@Sough.Resource.cat_accessoires</span></a>  </li>
                            <li id="cat_list_5000" class="cat_level_0"> <span> @Sough.Resource.cat_immobilier</span> </li>
                            <li id="cat_list_5020" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/ventes-immobilieres"><span class="nohistory">@Sough.Resource.cat_vente_immobilier</span></a>  </li>
                            <li id="cat_list_5040" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/locations"><span class="nohistory">@Sough.Resource.cat_location</span></a>  </li>
                        </ul>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">

            <div class="list_left_navigation">
                <div>
                    <div class="navigation list_left_navigation_cat_list">
                        <ul id="cat_list" class="cat_level_0">
                            <li id="cat_list_4000" class="cat_level_0"><span>@Sough.Resource.cat_multimedia</span></span></li>

                            <li id="cat_list_4041" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/musique-et-audio"><span class="nohistory">@Sough.Resource.cat_ordinateurs_portables</span></a>  </li>
                            <li id="cat_list_4043" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/photos-et-cameras"><span class="nohistory">@Sough.Resource.cat_ordinateurs_bureau</span></a>  </li>
                            <li id="cat_list_4080" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/telephonie"><span class="nohistory">@Sough.Resource.cat_telephones</span></a>  </li>
                            <li id="cat_list_4080" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/telephonie"><span class="nohistory">@Sough.Resource.cat_tablette</span></a>  </li>
                            <li id="cat_list_4080" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/telephonie"><span class="nohistory">@Sough.Resource.cat_serveurs</span></a>  </li>
                            <li id="cat_list_4100" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/consoles-et-jeux-video"><span class="nohistory">@Sough.Resource.cat_jeux</span></a>  </li>
                            <li id="cat_list_4042" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/films-et-tv"><span class="nohistory">@Sough.Resource.cat_televisions</span></a>  </li>

                            <li id="cat_list_2000" class="cat_level_0"> <span> @Sough.Resource.cat_maison </span></li>
                            <li id="cat_list_2020" class="cat_level_1"> <a class="nohistory" title="" href=""><span class="nohistory">@Sough.Resource.cat_meuble</span></a>  </li>
                            <li id="cat_list_2021" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/ustensiles-et-gastronomie"><span class="nohistory">@Sough.Resource.cat_electromenagers</span></a>  </li>
                            <li id="cat_list_4060" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/electromenagers"><span class="nohistory">@Sough.Resource.cat_ustensiles</span></a>  </li>
                            <li id="cat_list_2040" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/art-et-antiquites"><span class="nohistory">@Sough.Resource.cat_enfant_bebe</span></a>  </li>
                            <li id="cat_list_2060" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/jardin"><span class="nohistory">@Sough.Resource.cat_accessoires</span></a>  </li>
                        </ul>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">

            <div class="list_left_navigation">
                <div>
                    <div class="navigation list_left_navigation_cat_list">
                        <ul class="cat_level_0">
                            <li id="cat_list_3000" class="cat_level_0">  </li>
                            <li id="cat_list_3020" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/animaux"><span class="nohistory">@Sough.Resource.cat_livres</span></a>  </li>
                            <li id="cat_list_3040" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/velo"><span class="nohistory">@Sough.Resource.cat_annimaux</span></a>  </li>
                            <li id="cat_list_3140" class="cat_level_1"> <a class="nohistory" title="" href="~/fr/tickets-et-billetterie"><span class="nohistory">@Sough.Resource.cat_sports</span></a>  </li>
                            <li id="cat_list_6000" class="cat_level_0"> <span> @Sough.Resource.cat_emploi_services</span> </li>
                            <li id="cat_list_6020" class="cat_level_1"> <a class="nohistory" title="Emploi, " href="~/fr/emploi"><span class="nohistory">@Sough.Resource.cat_emploi</span></a>  </li>
                            <li id="cat_list_6060" class="cat_level_1"> <a class="nohistory" title="Services, " href="~/fr/services"><span class="nohistory">@Sough.Resource.cat_services</span></a>  </li>
                            <li id="cat_list_7000" class="cat_level_0 empty_li_ie7"> </li>
                            <li id="cat_list_7020" class="cat_level_1"> <a class="nohistory" title="Autres, " href="~/fr/autres"><span class="nohistory">@Sough.Resource.cat_autres</span></a>  </li>
                        </ul>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



