@model PagedList.IPagedList<Sough.Models.Ware>
@using PagedList.Mvc;

@{
    ViewBag.Title = "wilaya";
    var culture = Sough.GererLang.currentLang;
}

@Styles.Render("~/Content/ads-"+culture)
<link href="@Url.Content("~/Content/css/show-products/wares_byr_searchmain-"+culture+".css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/index/index-"+culture+".css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/toujjar-theme/span-input-select-"+culture+".css")" rel="stylesheet" type="text/css" />


<div id="content">
    <div class="row">
        <div class="col-sm-9 col-md-7 gw-search">
            <form action="../Search/Control" method="post" id="form1" class="navbar-form navbar-left" role="search">
                <div class="form-group" id="cat">
                    <span>
                        <select name="cat" class="featurebox_select_large" required>

                            @Html.Partial("_CheckCategorieSelect")
                        </select>
                    </span>
                </div>
                <div class="form-group" id="ville">
                    <span>
                        <select name="ville" class="featurebox_select_medium" required>

                            @Html.Partial("_CheckVilleSelect")
                        </select>
                    </span>
                </div>
                <div class="input-group" id="btn-search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Cherche <i class="@Sough.App_Code.Ticons.search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row row-z">
    </div> <!-- espace -->
    
    <div class="row" style="margin-top:-10px;margin-bottom:-10px;">
        <div class="col-xs-6 col-sm-4 col-md-2 div-span" id="div-trie" style="visibility:visible;">
            <span class="span-trie">
                <select id="TrieID" onchange="trierPar('Ad');" class="featurebox_select_medium">
                    @if (Sough.Helpers.AdHelper.trie == 1)
                    {
                        <option id="opt1" value="1" selected>Trier par : Date</option>
                        <option id="opt2" value="2">Trier par : Prix</option>
                    }
                    else
                    {
                        <option id="opt1" value="1">Trier par : Date</option>
                        <option id="opt2" value="2" selected>Trier par : Prix</option>
                    }
                </select>
            </span>
        </div>

        <div class="col-md-2"></div>
        <div class="col-md-2" id="loading" style="display: none;">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-2"></div>
    </div> 
    @try {
        <div id="List">
            @Html.Partial("~/Views/Ad/_WaresList.cshtml", Model)
        </div>
    }
    catch (Exception e)
    {
        <p>Error1 :  </p><br />
        <p>@e.Data</p>
        <p>@e.Message</p>
    }

    

</div>@* End div corps *@

@section Scripts {

    @Scripts.Render("~/bundles/select-options")
    @Scripts.Render("~/bundles/select-options")

    <script type="text/javascript" src="~/Scripts/show/wares_by_r.js"></script>
    
    @Scripts.Render("~/bundles/select-options")

}