@model Sough.Models.DeleteInfo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DeleteInfo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.why)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.why)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.delete_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.delete_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.create_time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.create_time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.categorie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.categorie)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prix)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prix)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ville)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ville)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
