<optgroup label="@Sough.Resource.cat_vehicules" data-subtext="">
    <option value="Voiture">@Sough.Resource.cat_voiture</option>
    <option value="EquipementAuto">@Sough.Resource.cat_auto_pi_et_acc</option>
</optgroup>

<optgroup label="@Sough.Resource.Immobilier" data-subtext="">
    <option value="LocationImmobilier">@Sough.Resource.Location</option>
    <option value="VenteImmobilier">@Sough.Resource.VenteImmobiliers</option>
    
</optgroup>
<optgroup label="@Sough.Resource.Vetements">
    <option value="Vetement">@Sough.Resource.Vetements</option>
</optgroup>
<optgroup label="@Sough.Resource.Multimedia">
    <option value="Ordinateur">@Sough.Resource.Ordinateurs</option>
    <option value="Telephone">@Sough.Resource.Telephones</option>
    <option value="Television">@Sough.Resource.Televisions</option>
    <option value="Jeu">@Sough.Resource.Jeux</option>
    <option value="Informatique">@Sough.Resource.Informatique_app_et_mat</option>
    <option value="Serveur">@Sough.Resource.cat_serveurs</option>
</optgroup>
<optgroup label="@Sough.Resource.Animaux" data-subtext="">
    <option value="Animau">@Sough.Resource.Animaux</option>
</optgroup>
<optgroup label="@Sough.Resource.Materiel_maison">
    <option value="Ammeublement">@Sough.Resource.Ammeublement</option>
    <option value="Electromenager">@Sough.Resource.Electromenager</option>
    <option value="ArtTable">@Sough.Resource.ArtTable</option>
    
</optgroup>

<optgroup label="@Sough.Resource.Materiel_proff">
    <option value="Mtransport">@Sough.Resource.Mtransports</option>
    <option value="MGrosOeuvre">@Sough.Resource.MGrosOeuvres</option>
    <option value="EquipementIndustriel">@Sough.Resource.EquipementIndustriels</option>
    <option value="RestaurantHotellerie">@Sough.Resource.RestaurantHotelleries</option>
    <option value="CommerceMarche">@Sough.Resource.CommerceMarches</option>
    <option value="MaterielMedical">@Sough.Resource.MaterielMedicals</option>

</optgroup>

<optgroup label="@Sough.Resource.Services">
    <option value="ServiceMaison">@Sough.Resource.ServiceMaisons</option>
    <option value="CourParticulier">@Sough.Resource.CourParticuliers</option>
    <option value="EcoleAuto">@Sough.Resource.EcoleAuto</option>
    <option value="Autre">@Sough.Resource.Autre</option>
</optgroup>

<optgroup label="@Sough.Resource.Autre">
    <option value="Autre">@Sough.Resource.Autre</option>
</optgroup>
