<optgroup label="@Sough.Resource.cat_vehicules" data-subtext="">
    <option value="Voitures">@Sough.Resource.cat_voiture</option>
    <option value="EquipementAutoes">@Sough.Resource.cat_pieces_detachees</option>
    <option value="EquipementAutoes">@Sough.Resource.cat_accessoires</option>
</optgroup>

<optgroup label="@Sough.Resource.cat_immobilier" data-subtext="">
    <option value="LocationImmobiliers">@Sough.Resource.cat_location</option>
    <option value="VenteImmobiliers">@Sough.Resource.cat_vente_immobilier</option>
</optgroup>

<optgroup label="@Sough.Resource.cat_annimaux" data-subtext="">
    <option value="Chameaux">@Sough.Resource.cat_chameaux</option>
    <option value="Chevres">@Sough.Resource.cat_chevres_moutons</option>
    <option value="Vaches">@Sough.Resource.cat_vaches</option>

</optgroup>

<optgroup label="@Sough.Resource.cat_apparence">
    <option value="Vetements">@Sough.Resource.cat_Vetements</option>
    <option value="Ammeublements">@Sough.Resource.cat_bijoux_montres</option>
    <option value="Ammeublements">@Sough.Resource.cat_beaute_bienetre</option>
    <option value="Ammeublements">@Sough.Resource.cat_parfums</option>
</optgroup>

<optgroup label="@Sough.Resource.cat_maison">
    <option value="Ammeublements">@Sough.Resource.cat_enfant_bebe</option>
    <option value="Ammeublements">@Sough.Resource.cat_accessoires</option>
    <option value="Ammeublements">@Sough.Resource.cat_meuble</option>
    <option value="Electromenagers">@Sough.Resource.cat_electromenagers</option>
    <option value="ArtTables">@Sough.Resource.cat_ustensiles</option>
</optgroup>

<optgroup label="@Sough.Resource.cat_multimedia">
    <option value="Ordinateurs">@Sough.Resource.cat_ordinateurs_portables</option>
    <option value="Ordinateurs">@Sough.Resource.cat_ordinateurs_bureau</option>
    <option value="Telephones">@Sough.Resource.cat_telephones</option>
    <option value="Televisions">@Sough.Resource.cat_televisions</option>
    <option value="Jeux">@Sough.Resource.cat_jeux</option>
    <option value="Serveurs">@Sough.Resource.cat_serveurs</option>
    <option value="Telephones">@Sough.Resource.cat_tablette</option>

</optgroup>

@*<optgroup label="Mat&eacute;riel proffessionel">
        <option value="Mtransports">Mat&eacute;riel transport</option>
        <option value="MGrosOeuvres">Mat&eacute;riel Gro-oeuvre</option>
        <option value="EquipementIndustriels">Equipement industriels</option>
        <option value="RestaurantHotelleries">Restaurant-Hotellerie</option>
        <option value="FournitureBureaux">Fournitures de bureau</option>
        <option value="CommerceMarches">Commerce & March&eacute;s</option>
        <option value="MaterielMedicals">Mat&eacute;riel m&eacute;dical</option>

    </optgroup>

    <optgroup label="Services">
        <option value="EcoleAuto">Ecole Auto</option>
        <option value="Autre">Autre</option>
    </optgroup>*@

<optgroup label="@Sough.Resource.cat_autres">
    <option value="Autre">@Sough.Resource.cat_autres</option>
</optgroup>
