@if (ViewBag.cat == "all")
{

    <option value="" selected>&#171;@Sough.Resource.Categorie&#187;</option>
    <optgroup label="@Sough.Resource.cat_vehicules"></optgroup>
    <option value="Voitures">@Sough.Resource.cat_voiture</option>
    <option value="EquipementAutos">@Sough.Resource.cat_auto_pi_et_acc</option>

    <optgroup label="@Sough.Resource.Immobilier"></optgroup>
    <option value="LocationImmobiliers">@Sough.Resource.Location</option>
    <option value="VenteImmobiliers">@Sough.Resource.VenteImmobiliers</option>

    <optgroup label="@Sough.Resource.Vetements"></optgroup>
    <option value="Vetements">@Sough.Resource.Vetements</option>
    <option value="Vetements">@Sough.Resource.cat_enfant_bebe</option>

    <optgroup label="@Sough.Resource.Multimedia"></optgroup>
    <option value="Ordinateurs">@Sough.Resource.Ordinateurs</option>
    <option value="Telephones">@Sough.Resource.Telephones</option>
    <option value="Televisions">@Sough.Resource.Televisions</option>
    <option value="Jeus">@Sough.Resource.Jeux</option>
    <option value="Informatiques">@Sough.Resource.Informatique_app_et_mat</option>
    <option value="Serveurs">@Sough.Resource.cat_serveurs</option>

    <optgroup label="@Sough.Resource.Animaux"></optgroup>
    <option value="Chameaux">@Sough.Resource.Chameaux</option>
    <option value="Chevres">@Sough.Resource.Chevres</option>
    <option value="Vaches">@Sough.Resource.Vaches</option>


    <optgroup label="@Sough.Resource.Materiel_maison"></optgroup>
    <option value="Ammeublements">@Sough.Resource.Ammeublement</option>

    <option value="Electromenagers">@Sough.Resource.Electromenager</option>
    <option value="ArtTables">@Sough.Resource.ArtTable</option>

    <optgroup label="@Sough.Resource.Materiel_proff"></optgroup>
    <option value="Mtransports">@Sough.Resource.Mtransports</option>
    <option value="MGrosOeuvres">@Sough.Resource.MGrosOeuvres</option>
    <option value="EquipementIndustriels">@Sough.Resource.EquipementIndustriels</option>
    <option value="RestaurantHotelleries">@Sough.Resource.RestaurantHotelleries</option>
    <option value="FournitureBureaus">@Sough.Resource.FournitureBureaus</option>
    <option value="CommerceMarches">@Sough.Resource.CommerceMarches</option>
    <option value="MaterielMedicals">@Sough.Resource.MaterielMedicals</option>

    <optgroup label="@Sough.Resource.Services"></optgroup>
    <option value="ServiceMaisons">@Sough.Resource.ServiceMaisons</option>
    <option value="CourParticuliers">@Sough.Resource.CourParticuliers</option>
    <option value="EcoleAuto">@Sough.Resource.EcoleAuto</option>
    <option value=autre>@Sough.Resource.Autre</option>

    <optgroup label="@Sough.Resource.Autre"></optgroup>
    <option value=autre>@Sough.Resource.Autre</option>
}
else if (ViewBag.cat == "Voitures")
{
    <option value="">&#171;@Sough.Resource.Categorie&#187;</option>
    <optgroup label="@Sough.Resource.cat_vehicules"></optgroup>
    <option value="Voitures" selected>@Sough.Resource.cat_voiture</option>
    <option value="EquipementAutos">@Sough.Resource.cat_auto_pi_et_acc</option>

    <optgroup label="@Sough.Resource.Immobilier"></optgroup>
    <option value="LocationImmobiliers">@Sough.Resource.Location</option>
    <option value="VenteImmobiliers">@Sough.Resource.VenteImmobiliers</option>

    <optgroup label="@Sough.Resource.Vetements"></optgroup>
    <option value="Vetements">@Sough.Resource.Vetements</option>
    <option value="Vetements">@Sough.Resource.cat_enfant_bebe</option>

    <optgroup label="@Sough.Resource.Multimedia"></optgroup>
    <option value="Ordinateurs">@Sough.Resource.Ordinateurs</option>
    <option value="Telephones">@Sough.Resource.Telephones</option>
    <option value="Televisions">@Sough.Resource.Televisions</option>
    <option value="Jeus">@Sough.Resource.Jeux</option>
    <option value="Informatiques">@Sough.Resource.Informatique_app_et_mat</option>
    <option value="Serveurs">@Sough.Resource.cat_serveurs</option>

    <optgroup label="@Sough.Resource.Animaux"></optgroup>
    <option value="Chameaux">@Sough.Resource.Chameaux</option>
    <option value="Chevres">@Sough.Resource.Chevres</option>
    <option value="Vaches">@Sough.Resource.Vaches</option>


    <optgroup label="@Sough.Resource.Materiel_maison"></optgroup>
    <option value="Ammeublements">@Sough.Resource.Ammeublement</option>

    <option value="Electromenagers">@Sough.Resource.Electromenager</option>
    <option value="ArtTables">@Sough.Resource.ArtTable</option>
    <option value="Decorations">@Sough.Resource.Decoration</option>


    <optgroup label="@Sough.Resource.Materiel_proff"></optgroup>
    <option value="Mtransports">@Sough.Resource.Mtransports</option>
    <option value="MGrosOeuvres">@Sough.Resource.MGrosOeuvres</option>
    <option value="EquipementIndustriels">@Sough.Resource.EquipementIndustriels</option>
    <option value="RestaurantHotelleries">@Sough.Resource.RestaurantHotelleries</option>
    <option value="FournitureBureaus">@Sough.Resource.FournitureBureaus</option>
    <option value="CommerceMarches">@Sough.Resource.CommerceMarches</option>
    <option value="MaterielMedicals">@Sough.Resource.MaterielMedicals</option>

    <optgroup label="@Sough.Resource.Services"></optgroup>
    <option value="ServiceMaisons">@Sough.Resource.ServiceMaisons</option>
    <option value="CourParticuliers">@Sough.Resource.CourParticuliers</option>
    <option value="EcoleAuto">@Sough.Resource.EcoleAuto</option>
    <option value=autre>@Sough.Resource.Autre</option>

    <optgroup label="@Sough.Resource.Autre"></optgroup>
    <option value=autre>@Sough.Resource.Autre</option>
}
