<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Images/icon_site_48.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
   
    <link rel="stylesheet" href="~/Content/css/index/headercss.css">

    <link rel="stylesheet" href="~/Content/css/toujjar-theme/font-awesome.min.css">
    @{
        var culture = Sough.GererLang.currentLang;
    }

    @Styles.Render("~/Content/css-" + culture)
    <link href="@Url.Content("~/Content/less-"+culture+"/bootstrap.less")" rel="stylesheet/less" type="text/css" />

    <link href="@Url.Content("~/Content/css/toujjar-theme/toujjar-style-"+culture+".css")" rel="stylesheet" type="text/css" />

</head>
<body id="body">

    <div class="row navigation container">
        
        <div class="navbar navbar-default navbar-fixed-top navbar-center container" role="navigation">
            <div class="navbar-header" id="logo">

                <a href="#" class="navbar-brand" id="navbar-brand">@Sough.Resource.logo</a>

            </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <form action="~/Ad/Create">
                                <button class="btn navbar-btn Btn-navbar" type="submit">
                                    <span class="@Sough.App_Code.Ticons.edit"></span>
                                    @Sough.Resource.btn_pub
                                </button>
                            </form>
                         </li>
                    </ul>
                </div>
            </div>

    </div> <!-- fin row navigation -->

    <div class="container">

        @RenderSection("featured", required: false)

        @RenderBody()
    </div>
    <div class="footer text-left container">
        <div class="row footer rowfooter" id="#rowfooter">

            <ul class="list-inline">
                <li><p><i class="@Sough.App_Code.Ticons.copyright"></i> Toujjar 2017</p></li>
                <li><a href=""><span class="glyphicon glyphicon-home"></span> @Sough.Resource.footer_mention_legal</a></li>
                <li><a href=""><span class="glyphicon glyphicon-phone-alt"></span> @Sough.Resource.footer_partenaires</a></li>
                <li><a href=""><span class="glyphicon glyphicon-certificate"></span> @Sough.Resource.footer_condition_gene</a></li>

                @{
                    foreach (var i in Sough.GererLang.LangagesSite)
                    {
                        
                            if(!(i.langNomCourt.Equals(Sough.GererLang.currentLang)))
                            {
                                <li class="active">@Html.ActionLink(i.langNomComplet,
                                                  "ChangeLanguage", "Ad",
                                                   new { lang = i.langNomCourt },
                                                   null)</li>
                            }
                    }
                }


            </ul>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery-1.6")
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/js-"+culture)
    <script type="text/javascript">
            $('.collapse').collapse();// activer le collapse pour le navbar
    </script>
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
    
</body>
</html>
