
<option value="">&#171;@Sough.Resource.select_choisir&#187;</option>
<option>@Sough.Resource.select_ville_nktt</option>
<option>@Sough.Resource.select_ville_nema</option>
<option>@Sough.Resource.select_ville_aioun</option>
<option>@Sough.Resource.select_ville_kiffa</option>
<option>@Sough.Resource.select_ville_kaedi</option>
<option>@Sough.Resource.select_ville_aleg</option>
<option>@Sough.Resource.select_ville_rosso</option>
<option>@Sough.Resource.select_ville_atar</option>
<option>@Sough.Resource.select_ville_ndb</option>
<option>@Sough.Resource.select_ville_tidjikja</option>
<option>@Sough.Resource.select_ville_selibaby</option>
<option>@Sough.Resource.select_ville_zouerate</option>
<option>@Sough.Resource.select_ville_akjoujt</option>
<option value="Guerou">@Sough.Resource.select_ville_guerou</option>
<option value="Magta-Lahjar">@Sough.Resource.select_ville_magta_lahjar</option>