
<option value="">&#171;@Sough.Resource.select_choisir&#187;</option>
<option value="Nouakchott">@Sough.Resource.select_ville_nktt</option>
<option value="Nema">@Sough.Resource.select_ville_nema</option>
<option value="Aioun">@Sough.Resource.select_ville_aioun</option>
<option value="Kiffa">@Sough.Resource.select_ville_kiffa</option>
<option value="Kaedi">@Sough.Resource.select_ville_kaedi</option>
<option value="Aleg">@Sough.Resource.select_ville_aleg</option>
<option value="Rosso">@Sough.Resource.select_ville_rosso</option>
<option value="Atar">@Sough.Resource.select_ville_atar</option>
<option value="Nouadhibou">@Sough.Resource.select_ville_ndb</option>
<option value="Tidjikdja">@Sough.Resource.select_ville_tidjikja</option>
<option value="Selibaby">@Sough.Resource.select_ville_selibaby</option>
<option value="Zouerate">@Sough.Resource.select_ville_zouerate</option>
<option value="Akjoujt">@Sough.Resource.select_ville_akjoujt</option>
<option value="Guerou">@Sough.Resource.select_ville_guerou</option>
